﻿@{
    ViewBag.Title = "Home";
}

<div class="wrapper background-10">
  <div class="containerZ">
    <div id="mapdiv" style="width: auto;" ></div>

    <div class="modal fade" id="myModal" role="dialog" style="width:100%">
	  	<div class="modal-dialog modal-xl">
		    <div class="modal-content" style="background-color:whitesmoke">
		      	<div class="modal-header">
		        	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        	<h4 class="modal-title" id="myModalLabel">South Africa</h4>
		      	</div>
			      <div class="modal-body" style="color:black;">
			      	<div style="float:left;">
			      		<img style="width:100px" src="http://flagpedia.net/data/flags/normal/za.png" />
			      		<br />
			      		<br />
			      		<ul style="font-size:1em">
			      			<li><a id="menu_tag-resources" href="#tag-resources">Resources</a></li>
							    <li><a id="menu_tag-demographics" href="#tag-demographics">Demographics</a></li>
							    <li><a href="#">Policies</a></li>
							    <li><a href="#">Market</a></li>	
							    <li><a href="#">Economy</a></li>
							    <li><a href="#">Telecomunication</a></li>
							    <li><a href="#">Transportation</a></li>
							    <li><a href="#">Banking System</a></li>
							    <li><a href="#">Climate</a></li>
							    <li><a href="#">Current Affairs</a></li>
							    <li><a href="#">Private Public Partnership</a></li>
			      		</ul>
			      	</div>

			      	<div id="info_panel" style="margin-left:200px; border-left-style:dotted; border-width:thin; padding-left: 20px; overflow-x: hidden; overflow-y: auto; height:auto;">
			      		<div id="tag-resources" class="info_section">
			      			<h4>Resources</h4>
			      			<table class="table-condensed table-hover info_table">
			      				  <tr><td class="pointer">Coastline:</td><td>2,798km</td></tr>
			      				  <tr><td class="pointer">Maritime claims (territorial sea):</td><td>12 nm</td></tr>
			      				  <tr><td class="pointer">Contiguous zone:</td><td>24 nm</td></tr>
			      				  <tr><td class="pointer">Exclusive economic zone:</td><td>200 nm</td></tr>
			      				  <tr><td class="pointer">continental shelf:</td><td>200 nm or to edge of the continental margin</td></tr>
			      				  <tr><td class="pointer">Climate:</td><td>mostly semiarid; subtropical along east coast; sunny days, cool nights</td></tr>
			      				  <tr><td class="pointer">Natural resources:</td><td>gold, chromium, antimony, coal, iron ore, manganese, nickel, phosphates, tin, rare earth elements, uranium, gem diamonds, platinum, copper, vanadium, salt, natural gas</td></tr>
			      				  <tr><td class="pointer">Land use (arable land):</td><td>12.1%</td></tr>
			      				  <tr><td class="pointer">Permanent crops:</td><td>0.79%</td></tr>
			      				  <tr><td class="pointer">Other:</td><td>87.11% (2005)</td></tr>
			      				  <tr><td class="pointer">Irrigated land:</td><td>14,980 sq km (2003)</td></tr>
			      				  <tr><td class="pointer">Total renewable water resources:</td><td>50 cu km (1990)</td></tr>
			      				  <tr><td class="pointer">Freshwater withdrawal (domestic/industrial/agricultural): total:</td><td>12.5 cu km/yr (31%/6%/63%)</td></tr>
			      				  <tr><td class="pointer">Per capita:</td><td>264 cu m/yr (2000)</td></tr>
			      				  <tr><td class="pointer">Natural hazards:</td><td>prolonged droughts</td></tr>
			      				  <tr><td class="pointer">Volcanism:</td><td>the volcano forming Marion Island in the Prince Edward Islands, which last erupted in 2004, is South Africa's only active volcano</td></tr>
			      				  <tr><td class="pointer">Environment - current issues:</td><td>lack of important arterial rivers or lakes requires extensive water conservation and control measures; growth in water usage outpacing supply; pollution of rivers from agricultural runoff and urban discharge; air pollution resulting in acid rain; soil erosion; desertification</td></tr>
			      				  <tr><td class="pointer">Environment - international agreements: party to:</td><td>Antarctic-Environmental Protocol, Antarctic-Marine Living Resources, Antarctic Seals, Antarctic Treaty, Biodiversity, Climate Change, Climate Change-Kyoto Protocol, Desertification, Endangered Species, Hazardous Wastes, Law of the Sea, Marine Dumping, Marine Life Conservation, Ozone Layer Protection, Ship Pollution, Wetlands, Whaling</td></tr>
			      				  <tr><td class="pointer">signed, but not ratified:</td><td>none of the selected agreements</td></tr>
			      			</table>
			      		</div>

                <div id="tag-demographics" class="info_section">
                  <h4>Demographics</h4>
                  <table class="table-condensed table-hover info_table">

                        <tr><td class="pointer">Population</td><td>48,810,427 (July 2012 est.)</td></tr>
                        <tr><td class="pointer">Note:</td><td>estimates for this country explicitly take into account the effects of excess mortality due to AIDS; this can result in lower life expectancy, higher infant mortality, higher death rates, lower population growth rates, and changes in the distribution of population by age and sex than would otherwise be expected</td></tr>
                        <tr><td style="white-space: nowrap" class="pointer">Age structure (0-14 years):</td><td>28.4% (male 6,955,602/female 6,914,246)</td></tr>
                        <tr><td class="pointer">Age structure (15-24 years):</td><td>21% (male 5,194,233/female 5,065,568)</td></tr>
                        <tr><td class="pointer">Age structure (25-54 years):</td><td>37.9% (male 9,550,500/female 8,958,997)</td></tr>
                        <tr><td class="pointer">Age structure (55-64 years)::</td><td>6.8% (male 1,427,820/female 1,878,324)</td></tr>
                        <tr><td class="pointer">Age structure (65 years and over):</td><td>5.9% (male 1,151,510/female 1,713,627) (2012 est.)</td></tr>
                        <tr><td class="pointer">Median age (total):</td><td></td></tr>
                        <tr><td class="pointer">:</td><td></td></tr>
                        <tr><td class="pointer">:</td><td></td></tr>
                        <tr><td class="pointer">:</td><td></td></tr>
                        <tr><td class="pointer">:</td><td></td></tr>
                        <tr><td class="pointer">:</td><td></td></tr>
                        <tr><td class="pointer">:</td><td></td></tr>
                        <tr><td class="pointer">:</td><td></td></tr>
                        <tr><td class="pointer">:</td><td></td></tr>
                        <tr><td class="pointer">:</td><td></td></tr>
                        <tr><td class="pointer">:</td><td></td></tr>
                        <tr><td class="pointer">:</td><td></td></tr>
                        <tr><td class="pointer">:</td><td></td></tr>
                        <tr><td class="pointer">:</td><td></td></tr>
                        <tr><td class="pointer">:</td><td></td></tr>
                        <tr><td class="pointer">:</td><td></td></tr>
                        <tr><td class="pointer">:</td><td></td></tr>
                        <tr><td class="pointer">:</td><td></td></tr>
                        <tr><td class="pointer">:</td><td></td></tr>
                        <tr><td class="pointer">:</td><td></td></tr>
                        <tr><td class="pointer">:</td><td></td></tr>
                        <tr><td class="pointer">:</td><td></td></tr>
                        <tr><td class="pointer">:</td><td></td></tr>
                        <tr><td class="pointer">:</td><td></td></tr>
                        <tr><td class="pointer">:</td><td></td></tr>
                        <tr><td class="pointer">:</td><td></td></tr>
                        <tr><td class="pointer">:</td><td></td></tr>
                        <tr><td class="pointer">:</td><td></td></tr>
                        <tr><td class="pointer">:</td><td></td></tr>
                        <tr><td class="pointer">:</td><td></td></tr>
                        <tr><td class="pointer">:</td><td></td></tr>
                        <tr><td class="pointer">:</td><td></td></tr>
                        <tr><td class="pointer">:</td><td></td></tr>
                        <tr><td class="pointer">:</td><td></td></tr>
                        <tr><td class="pointer">:</td><td></td></tr>
                        <tr><td class="pointer">:</td><td></td></tr>
                        <tr><td class="pointer">:</td><td></td></tr>
                        <tr><td class="pointer">:</td><td></td></tr>
                        <tr><td class="pointer">:</td><td></td></tr>
                        <tr><td class="pointer">:</td><td></td></tr>
                        <tr><td class="pointer">:</td><td></td></tr>
                        <tr><td class="pointer">:</td><td></td></tr>
                        <tr><td class="pointer">:</td><td></td></tr>

                    </table>
                </div>
			      	</div>

			      	<div style="clear:both"></div>
			        	
		      		<div class="modal-footer">
	        			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      		</div>
		    	  </div><!-- /.modal-content -->
		  	  </div><!-- /.modal-dialog -->
		  </div><!-- /.modal -->
    </div>
  </div>
</div>

    

@section scripts{

  @*<script src="@Url.Content("~/JointLibs/am/amcharts.js")"></script>*@
  <script src="http://www.amcharts.com/lib/3/amcharts.js" type="text/javascript"></script>     	
  <script src="@Url.Content("~/JointLibs/am/serial.js")"></script>
  <script src="@Url.Content("~/JointLibs/am/ammap_amcharts_extension.js")"></script>
  <script src="@Url.Content("~/JointLibs/am/maps/js/worldLow.js")"></script>
  <script src="@Url.Content("~/JointLibs/am/maps/js/continentsLow.js")"></script>
  <link href="@Url.Content("~/JointLibs/am/ammap.css")" rel="stylesheet" />

  <script>

    var home = {};

    (function () {
      var backIconSVG = "M16,1.466C7.973,1.466,1.466,7.973,1.466,16c0,8.027,6.507,14.534,14.534,14.534c8.027,0,14.534-6.507,14.534-14.534C30.534,7.973,24.027,1.466,16,1.466zM27.436,17.39c0.001,0.002,0.004,0.002,0.005,0.004c-0.022,0.187-0.054,0.37-0.085,0.554c-0.015-0.012-0.034-0.025-0.047-0.036c-0.103-0.09-0.254-0.128-0.318-0.115c-0.157,0.032,0.229,0.305,0.267,0.342c0.009,0.009,0.031,0.03,0.062,0.058c-1.029,5.312-5.709,9.338-11.319,9.338c-4.123,0-7.736-2.18-9.776-5.441c0.123-0.016,0.24-0.016,0.28-0.076c0.051-0.077,0.102-0.241,0.178-0.331c0.077-0.089,0.165-0.229,0.127-0.292c-0.039-0.064,0.101-0.344,0.088-0.419c-0.013-0.076-0.127-0.256,0.064-0.407s0.394-0.382,0.407-0.444c0.012-0.063,0.166-0.331,0.152-0.458c-0.012-0.127-0.152-0.28-0.24-0.318c-0.09-0.037-0.28-0.05-0.356-0.151c-0.077-0.103-0.292-0.203-0.368-0.178c-0.076,0.025-0.204,0.05-0.305-0.015c-0.102-0.062-0.267-0.139-0.33-0.189c-0.065-0.05-0.229-0.088-0.305-0.088c-0.077,0-0.065-0.052-0.178,0.101c-0.114,0.153,0,0.204-0.204,0.177c-0.204-0.023,0.025-0.036,0.141-0.189c0.113-0.152-0.013-0.242-0.141-0.203c-0.126,0.038-0.038,0.115-0.241,0.153c-0.203,0.036-0.203-0.09-0.076-0.115s0.355-0.139,0.355-0.19c0-0.051-0.025-0.191-0.127-0.191s-0.077-0.126-0.229-0.291c-0.092-0.101-0.196-0.164-0.299-0.204c-0.09-0.579-0.15-1.167-0.15-1.771c0-2.844,1.039-5.446,2.751-7.458c0.024-0.02,0.048-0.034,0.069-0.036c0.084-0.009,0.31-0.025,0.51-0.059c0.202-0.034,0.418-0.161,0.489-0.153c0.069,0.008,0.241,0.008,0.186-0.042C8.417,8.2,8.339,8.082,8.223,8.082S8.215,7.896,8.246,7.896c0.03,0,0.186,0.025,0.178,0.11C8.417,8.091,8.471,8.2,8.625,8.167c0.156-0.034,0.132-0.162,0.102-0.195C8.695,7.938,8.672,7.853,8.642,7.794c-0.031-0.06-0.023-0.136,0.14-0.153C8.944,7.625,9.168,7.708,9.16,7.573s0-0.28,0.046-0.356C9.253,7.142,9.354,7.09,9.299,7.065C9.246,7.04,9.176,7.099,9.121,6.972c-0.054-0.127,0.047-0.22,0.108-0.271c0.02-0.015,0.067-0.06,0.124-0.112C11.234,5.257,13.524,4.466,16,4.466c3.213,0,6.122,1.323,8.214,3.45c-0.008,0.022-0.01,0.052-0.031,0.056c-0.077,0.013-0.166,0.063-0.179-0.051c-0.013-0.114-0.013-0.331-0.102-0.203c-0.089,0.127-0.127,0.127-0.127,0.191c0,0.063,0.076,0.127,0.051,0.241C23.8,8.264,23.8,8.341,23.84,8.341c0.036,0,0.126-0.115,0.239-0.141c0.116-0.025,0.319-0.088,0.332,0.026c0.013,0.115,0.139,0.152,0.013,0.203c-0.128,0.051-0.267,0.026-0.293-0.051c-0.025-0.077-0.114-0.077-0.203-0.013c-0.088,0.063-0.279,0.292-0.279,0.292s-0.306,0.139-0.343,0.114c-0.04-0.025,0.101-0.165,0.203-0.228c0.102-0.064,0.178-0.204,0.14-0.242c-0.038-0.038-0.088-0.279-0.063-0.343c0.025-0.063,0.139-0.152,0.013-0.216c-0.127-0.063-0.217-0.14-0.318-0.178s-0.216,0.152-0.305,0.204c-0.089,0.051-0.076,0.114-0.191,0.127c-0.114,0.013-0.189,0.165,0,0.254c0.191,0.089,0.255,0.152,0.204,0.204c-0.051,0.051-0.267-0.025-0.267-0.025s-0.165-0.076-0.268-0.076c-0.101,0-0.229-0.063-0.33-0.076c-0.102-0.013-0.306-0.013-0.355,0.038c-0.051,0.051-0.179,0.203-0.28,0.152c-0.101-0.051-0.101-0.102-0.241-0.051c-0.14,0.051-0.279-0.038-0.355,0.038c-0.077,0.076-0.013,0.076-0.255,0c-0.241-0.076-0.189,0.051-0.419,0.089s-0.368-0.038-0.432,0.038c-0.064,0.077-0.153,0.217-0.19,0.127c-0.038-0.088,0.126-0.241,0.062-0.292c-0.062-0.051-0.33-0.025-0.367,0.013c-0.039,0.038-0.014,0.178,0.011,0.229c0.026,0.05,0.064,0.254-0.011,0.216c-0.077-0.038-0.064-0.166-0.141-0.152c-0.076,0.013-0.165,0.051-0.203,0.077c-0.038,0.025-0.191,0.025-0.229,0.076c-0.037,0.051,0.014,0.191-0.051,0.203c-0.063,0.013-0.114,0.064-0.254-0.025c-0.14-0.089-0.14-0.038-0.178-0.012c-0.038,0.025-0.216,0.127-0.229,0.012c-0.013-0.114,0.025-0.152-0.089-0.229c-0.115-0.076-0.026-0.076,0.127-0.025c0.152,0.05,0.343,0.075,0.622-0.013c0.28-0.089,0.395-0.127,0.28-0.178c-0.115-0.05-0.229-0.101-0.406-0.127c-0.179-0.025-0.42-0.025-0.7-0.127c-0.279-0.102-0.343-0.14-0.457-0.165c-0.115-0.026-0.813-0.14-1.132-0.089c-0.317,0.051-1.193,0.28-1.245,0.318s-0.128,0.19-0.292,0.318c-0.165,0.127-0.47,0.419-0.712,0.47c-0.241,0.051-0.521,0.254-0.521,0.305c0,0.051,0.101,0.242,0.076,0.28c-0.025,0.038,0.05,0.229,0.191,0.28c0.139,0.05,0.381,0.038,0.393-0.039c0.014-0.076,0.204-0.241,0.217-0.127c0.013,0.115,0.14,0.292,0.114,0.368c-0.025,0.077,0,0.153,0.09,0.14c0.088-0.012,0.559-0.114,0.559-0.114s0.153-0.064,0.127-0.166c-0.026-0.101,0.166-0.241,0.203-0.279c0.038-0.038,0.178-0.191,0.014-0.241c-0.167-0.051-0.293-0.064-0.115-0.216s0.292,0,0.521-0.229c0.229-0.229-0.051-0.292,0.191-0.305c0.241-0.013,0.496-0.025,0.444,0.051c-0.05,0.076-0.342,0.242-0.508,0.318c-0.166,0.077-0.14,0.216-0.076,0.292c0.063,0.076,0.09,0.254,0.204,0.229c0.113-0.025,0.254-0.114,0.38-0.101c0.128,0.012,0.383-0.013,0.42-0.013c0.039,0,0.216,0.178,0.114,0.203c-0.101,0.025-0.229,0.013-0.445,0.025c-0.215,0.013-0.456,0.013-0.456,0.051c0,0.039,0.292,0.127,0.19,0.191c-0.102,0.063-0.203-0.013-0.331-0.026c-0.127-0.012-0.203,0.166-0.241,0.267c-0.039,0.102,0.063,0.28-0.127,0.216c-0.191-0.063-0.331-0.063-0.381-0.038c-0.051,0.025-0.203,0.076-0.331,0.114c-0.126,0.038-0.076-0.063-0.242-0.063c-0.164,0-0.164,0-0.164,0l-0.103,0.013c0,0-0.101-0.063-0.114-0.165c-0.013-0.102,0.05-0.216-0.013-0.241c-0.064-0.026-0.292,0.012-0.33,0.088c-0.038,0.076-0.077,0.216-0.026,0.28c0.052,0.063,0.204,0.19,0.064,0.152c-0.14-0.038-0.317-0.051-0.419,0.026c-0.101,0.076-0.279,0.241-0.279,0.241s-0.318,0.025-0.318,0.102c0,0.077,0,0.178-0.114,0.191c-0.115,0.013-0.268,0.05-0.42,0.076c-0.153,0.025-0.139,0.088-0.317,0.102s-0.204,0.089-0.038,0.114c0.165,0.025,0.418,0.127,0.431,0.241c0.014,0.114-0.013,0.242-0.076,0.356c-0.043,0.079-0.305,0.026-0.458,0.026c-0.152,0-0.456-0.051-0.584,0c-0.127,0.051-0.102,0.305-0.064,0.419c0.039,0.114-0.012,0.178-0.063,0.216c-0.051,0.038-0.065,0.152,0,0.204c0.063,0.051,0.114,0.165,0.166,0.178c0.051,0.013,0.215-0.038,0.279,0.025c0.064,0.064,0.127,0.216,0.165,0.178c0.039-0.038,0.089-0.203,0.153-0.166c0.064,0.039,0.216-0.012,0.331-0.025s0.177-0.14,0.292-0.204c0.114-0.063,0.05-0.063,0.013-0.14c-0.038-0.076,0.114-0.165,0.204-0.254c0.088-0.089,0.253-0.013,0.292-0.115c0.038-0.102,0.051-0.279,0.151-0.267c0.103,0.013,0.243,0.076,0.331,0.076c0.089,0,0.279-0.14,0.332-0.165c0.05-0.025,0.241-0.013,0.267,0.102c0.025,0.114,0.241,0.254,0.292,0.279c0.051,0.025,0.381,0.127,0.433,0.165c0.05,0.038,0.126,0.153,0.152,0.254c0.025,0.102,0.114,0.102,0.128,0.013c0.012-0.089-0.065-0.254,0.025-0.242c0.088,0.013,0.191-0.026,0.191-0.026s-0.243-0.165-0.331-0.203c-0.088-0.038-0.255-0.114-0.331-0.241c-0.076-0.127-0.267-0.153-0.254-0.279c0.013-0.127,0.191-0.051,0.292,0.051c0.102,0.102,0.356,0.241,0.445,0.33c0.088,0.089,0.229,0.127,0.267,0.242c0.039,0.114,0.152,0.241,0.19,0.292c0.038,0.051,0.165,0.331,0.204,0.394c0.038,0.063,0.165-0.012,0.229-0.063c0.063-0.051,0.179-0.076,0.191-0.178c0.013-0.102-0.153-0.178-0.203-0.216c-0.051-0.038,0.127-0.076,0.191-0.127c0.063-0.05,0.177-0.14,0.228-0.063c0.051,0.077,0.026,0.381,0.051,0.432c0.025,0.051,0.279,0.127,0.331,0.191c0.05,0.063,0.267,0.089,0.304,0.051c0.039-0.038,0.242,0.026,0.294,0.038c0.049,0.013,0.202-0.025,0.304-0.05c0.103-0.025,0.204-0.102,0.191,0.063c-0.013,0.165-0.051,0.419-0.179,0.546c-0.127,0.127-0.076,0.191-0.202,0.191c-0.06,0-0.113,0-0.156,0.021c-0.041-0.065-0.098-0.117-0.175-0.097c-0.152,0.038-0.344,0.038-0.47,0.19c-0.128,0.153-0.178,0.165-0.204,0.114c-0.025-0.051,0.369-0.267,0.317-0.331c-0.05-0.063-0.355-0.038-0.521-0.038c-0.166,0-0.305-0.102-0.433-0.127c-0.126-0.025-0.292,0.127-0.418,0.254c-0.128,0.127-0.216,0.038-0.331,0.038c-0.115,0-0.331-0.165-0.331-0.165s-0.216-0.089-0.305-0.089c-0.088,0-0.267-0.165-0.318-0.165c-0.05,0-0.19-0.115-0.088-0.166c0.101-0.05,0.202,0.051,0.101-0.229c-0.101-0.279-0.33-0.216-0.419-0.178c-0.088,0.039-0.724,0.025-0.775,0.025c-0.051,0-0.419,0.127-0.533,0.178c-0.116,0.051-0.318,0.115-0.369,0.14c-0.051,0.025-0.318-0.051-0.433,0.013c-0.151,0.084-0.291,0.216-0.33,0.216c-0.038,0-0.153,0.089-0.229,0.28c-0.077,0.19,0.013,0.355-0.128,0.419c-0.139,0.063-0.394,0.204-0.495,0.305c-0.102,0.101-0.229,0.458-0.355,0.623c-0.127,0.165,0,0.317,0.025,0.419c0.025,0.101,0.114,0.292-0.025,0.471c-0.14,0.178-0.127,0.266-0.191,0.279c-0.063,0.013,0.063,0.063,0.088,0.19c0.025,0.128-0.114,0.255,0.128,0.369c0.241,0.113,0.355,0.217,0.418,0.367c0.064,0.153,0.382,0.407,0.382,0.407s0.229,0.205,0.344,0.293c0.114,0.089,0.152,0.038,0.177-0.05c0.025-0.09,0.178-0.104,0.355-0.104c0.178,0,0.305,0.04,0.483,0.014c0.178-0.025,0.356-0.141,0.42-0.166c0.063-0.025,0.279-0.164,0.443-0.063c0.166,0.103,0.141,0.241,0.23,0.332c0.088,0.088,0.24,0.037,0.355-0.051c0.114-0.09,0.064-0.052,0.203,0.025c0.14,0.075,0.204,0.151,0.077,0.267c-0.128,0.113-0.051,0.293-0.128,0.47c-0.076,0.178-0.063,0.203,0.077,0.278c0.14,0.076,0.394,0.548,0.47,0.638c0.077,0.088-0.025,0.342,0.064,0.495c0.089,0.151,0.178,0.254,0.077,0.331c-0.103,0.075-0.28,0.216-0.292,0.47s0.051,0.431,0.102,0.521s0.177,0.331,0.241,0.419c0.064,0.089,0.14,0.305,0.152,0.445c0.013,0.14-0.024,0.306,0.039,0.381c0.064,0.076,0.102,0.191,0.216,0.292c0.115,0.103,0.152,0.318,0.152,0.318s0.039,0.089,0.051,0.229c0.012,0.14,0.025,0.228,0.152,0.292c0.126,0.063,0.215,0.076,0.28,0.013c0.063-0.063,0.381-0.077,0.546-0.063c0.165,0.013,0.355-0.075,0.521-0.19s0.407-0.419,0.496-0.508c0.089-0.09,0.292-0.255,0.268-0.356c-0.025-0.101-0.077-0.203,0.024-0.254c0.102-0.052,0.344-0.152,0.356-0.229c0.013-0.077-0.09-0.395-0.115-0.457c-0.024-0.064,0.064-0.18,0.165-0.306c0.103-0.128,0.421-0.216,0.471-0.267c0.051-0.053,0.191-0.267,0.217-0.433c0.024-0.167-0.051-0.369,0-0.457c0.05-0.09,0.013-0.165-0.103-0.268c-0.114-0.102-0.089-0.407-0.127-0.457c-0.037-0.051-0.013-0.319,0.063-0.345c0.076-0.023,0.242-0.279,0.344-0.393c0.102-0.114,0.394-0.47,0.534-0.496c0.139-0.025,0.355-0.229,0.368-0.343c0.013-0.115,0.38-0.547,0.394-0.635c0.013-0.09,0.166-0.42,0.102-0.497c-0.062-0.076-0.559,0.115-0.622,0.141c-0.064,0.025-0.241,0.127-0.446,0.113c-0.202-0.013-0.114-0.177-0.127-0.254c-0.012-0.076-0.228-0.368-0.279-0.381c-0.051-0.012-0.203-0.166-0.267-0.317c-0.063-0.153-0.152-0.343-0.254-0.458c-0.102-0.114-0.165-0.38-0.268-0.559c-0.101-0.178-0.189-0.407-0.279-0.572c-0.021-0.041-0.045-0.079-0.067-0.117c0.118-0.029,0.289-0.082,0.31-0.009c0.024,0.088,0.165,0.279,0.19,0.419s0.165,0.089,0.178,0.216c0.014,0.128,0.14,0.433,0.19,0.47c0.052,0.038,0.28,0.242,0.318,0.318c0.038,0.076,0.089,0.178,0.127,0.369c0.038,0.19,0.076,0.444,0.179,0.482c0.102,0.038,0.444-0.064,0.508-0.102s0.482-0.242,0.635-0.255c0.153-0.012,0.179-0.115,0.368-0.152c0.191-0.038,0.331-0.177,0.458-0.28c0.127-0.101,0.28-0.355,0.33-0.444c0.052-0.088,0.179-0.152,0.115-0.253c-0.063-0.103-0.331-0.254-0.433-0.268c-0.102-0.012-0.089-0.178-0.152-0.178s-0.051,0.088-0.178,0.153c-0.127,0.063-0.255,0.19-0.344,0.165s0.026-0.089-0.113-0.203s-0.192-0.14-0.192-0.228c0-0.089-0.278-0.255-0.304-0.382c-0.026-0.127,0.19-0.305,0.254-0.19c0.063,0.114,0.115,0.292,0.279,0.368c0.165,0.076,0.318,0.204,0.395,0.229c0.076,0.025,0.267-0.14,0.33-0.114c0.063,0.024,0.191,0.253,0.306,0.292c0.113,0.038,0.495,0.051,0.559,0.051s0.33,0.013,0.381-0.063c0.051-0.076,0.089-0.076,0.153-0.076c0.062,0,0.177,0.229,0.267,0.254c0.089,0.025,0.254,0.013,0.241,0.179c-0.012,0.164,0.076,0.305,0.165,0.317c0.09,0.012,0.293-0.191,0.293-0.191s0,0.318-0.012,0.433c-0.014,0.113,0.139,0.534,0.139,0.534s0.19,0.393,0.241,0.482s0.267,0.355,0.267,0.47c0,0.115,0.025,0.293,0.103,0.293c0.076,0,0.152-0.203,0.24-0.331c0.091-0.126,0.116-0.305,0.153-0.432c0.038-0.127,0.038-0.356,0.038-0.444c0-0.09,0.075-0.166,0.255-0.242c0.178-0.076,0.304-0.292,0.456-0.407c0.153-0.115,0.141-0.305,0.446-0.305c0.305,0,0.278,0,0.355-0.077c0.076-0.076,0.151-0.127,0.19,0.013c0.038,0.14,0.254,0.343,0.292,0.394c0.038,0.052,0.114,0.191,0.103,0.344c-0.013,0.152,0.012,0.33,0.075,0.33s0.191-0.216,0.191-0.216s0.279-0.189,0.267,0.013c-0.014,0.203,0.025,0.419,0.025,0.545c0,0.053,0.042,0.135,0.088,0.21c-0.005,0.059-0.004,0.119-0.009,0.178C27.388,17.153,27.387,17.327,27.436,17.39zM20.382,12.064c0.076,0.05,0.102,0.127,0.152,0.203c0.052,0.076,0.14,0.05,0.203,0.114c0.063,0.064-0.178,0.14-0.075,0.216c0.101,0.077,0.151,0.381,0.165,0.458c0.013,0.076-0.279,0.114-0.369,0.102c-0.089-0.013-0.354-0.102-0.445-0.127c-0.089-0.026-0.139-0.343-0.025-0.331c0.116,0.013,0.141-0.025,0.267-0.139c0.128-0.115-0.189-0.166-0.278-0.191c-0.089-0.025-0.268-0.305-0.331-0.394c-0.062-0.089-0.014-0.228,0.141-0.331c0.076-0.051,0.279,0.063,0.381,0c0.101-0.063,0.203-0.14,0.241-0.165c0.039-0.025,0.293,0.038,0.33,0.114c0.039,0.076,0.191,0.191,0.141,0.229c-0.052,0.038-0.281,0.076-0.356,0c-0.075-0.077-0.255,0.012-0.268,0.152C20.242,12.115,20.307,12.013,20.382,12.064zM16.875,12.28c-0.077-0.025,0.025-0.178,0.102-0.229c0.075-0.051,0.164-0.178,0.241-0.305c0.076-0.127,0.178-0.14,0.241-0.127c0.063,0.013,0.203,0.241,0.241,0.318c0.038,0.076,0.165-0.026,0.217-0.051c0.05-0.025,0.127-0.102,0.14-0.165s0.127-0.102,0.254-0.102s0.013,0.102-0.076,0.127c-0.09,0.025-0.038,0.077,0.113,0.127c0.153,0.051,0.293,0.191,0.459,0.279c0.165,0.089,0.19,0.267,0.088,0.292c-0.101,0.025-0.406,0.051-0.521,0.038c-0.114-0.013-0.254-0.127-0.419-0.153c-0.165-0.025-0.369-0.013-0.433,0.077s-0.292,0.05-0.395,0.05c-0.102,0-0.228,0.127-0.253,0.077C16.875,12.534,16.951,12.306,16.875,12.28zM17.307,9.458c0.063-0.178,0.419,0.038,0.355,0.127C17.599,9.675,17.264,9.579,17.307,9.458zM17.802,18.584c0.063,0.102-0.14,0.431-0.254,0.407c-0.113-0.027-0.076-0.318-0.038-0.382C17.548,18.545,17.769,18.529,17.802,18.584zM13.189,12.674c0.025-0.051-0.039-0.153-0.127-0.013C13.032,12.71,13.164,12.725,13.189,12.674zM20.813,8.035c0.141,0.076,0.339,0.107,0.433,0.013c0.076-0.076,0.013-0.204-0.05-0.216c-0.064-0.013-0.104-0.115,0.062-0.203c0.165-0.089,0.343-0.204,0.534-0.229c0.19-0.025,0.622-0.038,0.774,0c0.152,0.039,0.382-0.166,0.445-0.254s-0.203-0.152-0.279-0.051c-0.077,0.102-0.444,0.076-0.521,0.051c-0.076-0.025-0.686,0.102-0.812,0.102c-0.128,0-0.179,0.152-0.356,0.229c-0.179,0.076-0.42,0.191-0.509,0.229c-0.088,0.038-0.177,0.19-0.101,0.216C20.509,7.947,20.674,7.959,20.813,8.035zM14.142,12.674c0.064-0.089-0.051-0.217-0.114-0.217c-0.12,0-0.178,0.191-0.103,0.254C14.002,12.776,14.078,12.763,14.142,12.674zM14.714,13.017c0.064,0.025,0.114,0.102,0.165,0.114c0.052,0.013,0.217,0,0.167-0.127s-0.167-0.127-0.204-0.127c-0.038,0-0.203-0.038-0.267,0C14.528,12.905,14.65,12.992,14.714,13.017zM11.308,10.958c0.101,0.013,0.217-0.063,0.305-0.101c0.088-0.038,0.216-0.114,0.216-0.229c0-0.114-0.025-0.216-0.077-0.267c-0.051-0.051-0.14-0.064-0.216-0.051c-0.115,0.02-0.127,0.14-0.203,0.14c-0.076,0-0.165,0.025-0.14,0.114s0.077,0.152,0,0.19C11.117,10.793,11.205,10.946,11.308,10.958zM11.931,10.412c0.127,0.051,0.394,0.102,0.292,0.153c-0.102,0.051-0.28,0.19-0.305,0.267s0.216,0.153,0.216,0.153s-0.077,0.089-0.013,0.114c0.063,0.025,0.102-0.089,0.203-0.089c0.101,0,0.304,0.063,0.406,0.063c0.103,0,0.267-0.14,0.254-0.229c-0.013-0.089-0.14-0.229-0.254-0.28c-0.113-0.051-0.241-0.28-0.317-0.331c-0.076-0.051,0.076-0.178-0.013-0.267c-0.09-0.089-0.153-0.076-0.255-0.14c-0.102-0.063-0.191,0.013-0.254,0.089c-0.063,0.076-0.14-0.013-0.217,0.012c-0.102,0.035-0.063,0.166-0.012,0.229C11.714,10.221,11.804,10.361,11.931,10.412zM24.729,17.198c-0.083,0.037-0.153,0.47,0,0.521c0.152,0.052,0.241-0.202,0.191-0.267C24.868,17.39,24.843,17.147,24.729,17.198zM20.114,20.464c-0.159-0.045-0.177,0.166-0.304,0.306c-0.128,0.141-0.267,0.254-0.317,0.241c-0.052-0.013-0.331,0.089-0.242,0.279c0.089,0.191,0.076,0.382-0.013,0.472c-0.089,0.088,0.076,0.342,0.052,0.482c-0.026,0.139,0.037,0.229,0.215,0.229s0.242-0.064,0.318-0.229c0.076-0.166,0.088-0.331,0.164-0.47c0.077-0.141,0.141-0.434,0.179-0.51c0.038-0.075,0.114-0.316,0.102-0.457C20.254,20.669,20.204,20.489,20.114,20.464zM10.391,8.802c-0.069-0.06-0.229-0.102-0.306-0.11c-0.076-0.008-0.152,0.06-0.321,0.06c-0.168,0-0.279,0.067-0.347,0C9.349,8.684,9.068,8.65,9.042,8.692C9.008,8.749,8.941,8.751,9.008,8.87c0.069,0.118,0.12,0.186,0.179,0.178s0.262-0.017,0.288,0.051C9.5,9.167,9.569,9.226,9.712,9.184c0.145-0.042,0.263-0.068,0.296-0.119c0.033-0.051,0.263-0.059,0.263-0.059S10.458,8.861,10.391,8.802z";


      var descriptionBrittany =
          'Brittany (French: Bretagne [bʁə.taɲ] ; Breton: Breizh, pronounced [brɛjs]; Gallo: Bertaèyn) is a cultural region in the north-west of France.<br /><br /><b>Coat of arms</b><br /><img src="http://upload.wikimedia.org/wikipedia/commons/thumb/2/26/COA_fr_BRE.svg/545px-COA_fr_BRE.svg.png" style="width: 100px;" /><br /><br /><b>Scenerey</b><br /><img src="http://upload.wikimedia.org/wikipedia/commons/thumb/7/7d/Bretagne_Finistere_PointeduRaz15119.jpg/220px-Bretagne_Finistere_PointeduRaz15119.jpg" /><br /><i>The Pointe du Raz, one of the westernmost extent of both Brittany and France.</i><br /><br /><a href="http://en.wikipedia.org/wiki/Bretagne">Read the full article</a><br /><br />';

      var decriptionSouthAfrica =
          '<div class="desc_container">' +
              '<img style="width:100px" src="http://flagpedia.net/data/flags/normal/za.png" />' +
              '<ul class="country_bullet">' +
                  '<li><a class="country_menu" href="#" data-tag="tag-resources" data-toggle="modal" data-target="#myModal">Resources</a></li>' +
                  '<li><a class="country_menu" href="#" data-tag="tag-demographics" data-toggle="modal" data-target="#myModal">Demographics</a></li>' +
                  '<li><a class="country_menu" href="#">Policies</a></li>' +
                  '<li><a class="country_menu" href="#">Market</a></li>' +
                  '<li><a class="country_menu" href="#">Economy</a></li>' +
                  '<li><a class="country_menu" href="#">Telecomunication</a></li>' +
                  '<li><a class="country_menu" href="#">Overview</a></li>' +
                  '<li><a class="country_menu" href="#">Transportation</a></li>' +
                  '<li><a class="country_menu" href="#">Banking System</a></li>' +
                  '<li><a class="country_menu" href="#">Climate</a></li>' +
                  '<li><a class="country_menu" href="#">Current Affairs</a></li>' +
                  '<li><a class="country_menu" href="#">Private Public Partnership</a></li>' +
              '</ul>' +
          '</div>';



      var previouslyHovered;

      function makeBar() {

        // SERIAL CHART

        var barChartData = [{
          "country": "South Africa",
          "label": "Businesses",
          "length": 67
        }, {
          "country": "Test",
          "label": "Businesses",
          "length": 44
        }];

        var chart = new AmCharts.AmSerialChart();
        chart.addListener("clickGraphItem", handleBarItemClick);
        chart.addLabel(370, 25, "Businesses", "left", 22);
        chart.dataProvider = barChartData;
        chart.rotate = true;
        chart.fontSize = 18;
        chart.fontFamily = 'Covered By Your Grace';
        chart.color = "#FFFFFF";
        chart.categoryField = "country";
        chart.startDuration = 0;
        chart.columnWidth = 0.5;

        var balloon = chart.balloon;
        balloon.adjustBorderColor = false;
        balloon.borderColor = "#000000";
        balloon.fillColor = "#FFFFFF";
        balloon.verticalPadding = 0;

        var valueAxis = new AmCharts.ValueAxis();
        valueAxis.minimum = 0;
        valueAxis.axisColor = "#FFFFFF";
        valueAxis.gridColor = "#FFFFFF";
        chart.addValueAxis(valueAxis);

        // AXES
        // category

        var categoryAxis = chart.categoryAxis;
        categoryAxis.labelRotation = 90;
        categoryAxis.gridPosition = "start";
        categoryAxis.axisColor = "#FFFFFF";
        categoryAxis.gridColor = "#FFFFFF";
        categoryAxis.gridAlpha = 0;

        // GRAPH
        var graph = new AmCharts.AmGraph();
        graph.valueField = "length";
        graph.type = "column";
        graph.balloonText = "<span style='font-size:14px'>[[category]]<br />[[label]]: [[value]].</span>";
        graph.lineAlpha = 0;
        graph.lineColor = "#FFFFFF";
        graph.fillAlphas = 0.8;
        graph.lineThickness = 1;
        graph.pattern = {
          url: "http://www.amcharts.com/lib/3/patterns/chalk/pattern1.jpg",
          width: 600,
          height: 600,
          randomY: 300
        };
        chart.addGraph(graph);

        // CURSOR
        var chartCursor = new AmCharts.ChartCursor();
        chartCursor.cursorAlpha = 0;
        chartCursor.zoomable = false;
        chartCursor.addListener("changed", handleCursorChange);

        chartCursor.categoryBalloonEnabled = false;
        chart.addChartCursor(chartCursor);

        chart.write("columnChartDiv");

      }

      function handleBarItemClick(event) {
        var index = event.index;
        var dataItem = event.chart.dataProvider[index];
        debugger;
        if (dataItem) {
          var country = dataItem.country;
          var areas = worldDataProvider.areas;

          for (var i = 0; i < areas.length; i++) {
            var area = areas[i];
            if (area.title == country) {
              map.selectObject(area);
              previouslyHovered = area;
            }
          }
        }
      }

      function handleCursorChange(event) {
        var index = event.index;
        var dataItem = event.chart.dataProvider[index];
        debugger;
        if (previouslyHovered) {
          map.rollOutMapObject(previouslyHovered);
        }

        if (dataItem) {
          var country = dataItem.country;
          var areas = worldDataProvider.areas;

          for (var i = 0; i < areas.length; i++) {
            var area = areas[i];
            if (area.title == country) {
              map.rollOverMapObject(area);
              previouslyHovered = area;
            }
          }
        }
      }

      var worldDataProvider = {
        mapVar: AmCharts.maps.worldLow,
        areas: [{ id: "ZA", color: "#723C1A", title: "South Africa", description: decriptionSouthAfrica }]
      };

      var map;
      function makeMap() {

        map = new AmCharts.AmMap();
        map.pathToImages = "JointLibs/am/images/";
        map.handDrawn = false;

        var continentsDataProvider = {
          mapVar: AmCharts.maps.continentsLow,
          areas:
          [
              {
                id: "africa",
                linkToObject: worldDataProvider,
                color: "#723C1A",
                passZoomValuesToTarget: true
              }
          ]
        };

        var backButton = {
          svgPath: backIconSVG,
          label: "Back to continents map",
          color: "#FFFFFF",
          labelColor: "#FFFFFF",
          rollOverColor: "#CC0000",
          labelRollOverColor: "#CC0000",
          useTargetsZoomValues: true,
          linkToObject: continentsDataProvider,
          left: 30,
          bottom: 60,
          labelFontSize: 15
        };

        worldDataProvider.images = [backButton];

        map.dataProvider = continentsDataProvider;

        //MapArea
        map.areasSettings = {
          autoZoom: true,
          selectedColor: "#66CCFF",
          rollOverColor: "#66CCFF",
          descriptionWindowWidth: "350"
        };

        map.write("mapdiv");

        map.selectObject(map.getObjectById("africa"));
      }

      var clickedTag;
      function events() {

        $(document).on("click", ".country_menu", function () {
          clickedTag = $(this).data('tag');
        });

        $('.country_menu').on('click', function () {
          alert('click');
        });

        $('#myModal').on('shown.bs.modal', function () {
          window.location = document.getElementById('menu_' + clickedTag).href;
        })
      }

      function onPageResetSize() {
        $('#info_panel').css('height', $(window).height() - 250);
        $('#mapdiv').css('height', $(window).height() - 200);
        //$('.wrapper').css('height', $(window).height() - 200);
      }

      function onPageLoad() {
        events();
        makeMap();
        //makeBar();
      }

      home.onPageLoad = onPageLoad;
      home.onPageResetSize = onPageResetSize;

    }());

    ///***********************************************************************
    ///************ READY ******************************************

    $(document).ready(function () {
      home.onPageResetSize();
      home.onPageLoad();
    });

    $(window).resize(function () {
      home.onPageResetSize();
    });

  </script>
}

@*<script defer type="text/javascript">

  

  
  (function ($) {
    //onPageResetSize();
    //onPageLoad();
    //

    

  }(jQuery));
 


  

  
  //alert("seh");

</script>*@
