﻿@{
  ViewBag.Title = "Board Room";
}

<div class="wrapper background-2">
  <div class="container ">
    <div id="meeting">

      <div class="container row vc_title">
        <h3 class="vc_widget-title pull-left">Board Room</h3>
        <div class="btn-group pull-right">
          <a class="vc_btn btn-small element-spacing" data-toggle="modal" href="#create-session-window" @*onclick="meeting.createSession_OnClick();"*@>
            <i class="glyphicon glyphicon-log-in icon-spacing"></i>Create Session</a>
          <a class="vc_btn btn-small dropdown-toggle" data-toggle="dropdown">Invites <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Meeting 1</a></li>
            <li class="divider"></li>
            <li><a href="#">Meeting 2</a></li>
            <li class="divider"></li>
            <li><a href="#">Meeting 3</a></li>
          </ul>
        </div>
      </div>


      <div class="modal fade" id="create-session-window" tabindex="-1" role="dialog" aria-labelledby="usersLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">Create Session</h4>
            </div>
            <form id="create-session-form" class="modal-body container-fluid">
              <div class="radio-inline">
                <label>
                  <input type="radio" name="optionsRadios" id="optionsRadios1" value="immediatly" checked>
                  Launch Immediatly
                </label>
              </div>
              <div class="radio-inline">
                <label>
                  <input style="margin-top: 15px" type="radio" name="optionsRadios" id="optionsRadios2" value="schedule" disabled="disabled" />
                  Schedule                     
                  <input style="width: 200px" type="text" value="" id="scheduleDatetime" class="vc_input-inverse" disabled="disabled" />
                </label>
              </div>
              <div class="form-group">
                <input id="session-name" name="session-name" type="text" value="" class="vc_input-inverse" placeholder="Session Name" />
              </div>
              <input id="user-search" type="text" class="vc_input-inverse" placeholder="Search members..." />
              <section id="added-members"></section>
            </form>
            <div class="modal-footer">
              <a onclick="meeting.closeMembers_OnClick()" class="vc_btn btn-small">Create</a>
            </div>
          </div>
        </div>
      </div>

      <section id="sessions" class="tabs">
        <ul class="nav nav-tabs"></ul>
        <div class="tab-content"></div>
      </section>



    </div>
  </div>
</div>

@section scripts{




  <script>

    var meeting = {};

    (function () {

      function isKeyAlreadyInTable(key) {
        var result = false;
        $('#added-members .row').each(function () {
          console.log($(this).attr('data-key') + " :: " + key);
          if ($(this).attr('data-key') == key) {
            result = true;
            return false;
          }
        });
        return result;
      }

      $("#create-session-form").validate({
        rules: {
          'session-name': { required: true }
        },
        highlight: function (element) {
          $(element).closest('.form-group').addClass('field-validation-error');
        },
        success: function (element) {
          element.closest('.form-group').removeClass('field-validation-error');
        }
      });

      function closeMembers_OnClick() {

        if (!$("#create-session-form").valid()) { return; }


        var nTab = 'session' + $('#sessions .nav-tabs li').length;
        $('#sessions .active').removeClass('active');

        $('#sessions .nav-tabs').append(
          '<li class="active"><a href="#' + nTab + '" data-toggle="tab"><i class="icon-book"></i>' + $('#session-name').val() + '</a></li>'
          );

        $('#sessions .tab-content').append(
          '<div class="tab-pane active sidebar-widget" id="' + nTab + '">' +
            '<div class="meeting-content vc_blog-list col-md-8 pull-left" data-session="' + nTab + '"></div>' +
            '<aside class="participants col-md-4 pull-right">' +
              '<div class="participants-menu">' +
                '<button class="vc_btn btn-small" ><span class="glyphicon glyphicon-cog"></span> Options</button>' +
                '<button class="vc_btn btn-small element-spacing" ><span class="glyphicon glyphicon-log-out"></span> Exit Session</button>' +
              '</div>' +
              '<h4>Participants</h4>' +
              '<div class="participants-list"></div>' +
            '</aside>' +
            '<div class="col-md-8 row-item">' +
              '<div class="col-md-9"><input class="txtMessage vc_input-inverse" type="text" /></div>' +
              '<div class="col-md-3"><a class="btnSend vc_btn btn-small"><i class="glyphicon glyphicon-send"></i>Send</a></div>' +
            '</div>' +
          '</div>'
        );

        onPageResetSize();



        //------------init chat--------------
        //-----------------------------------

        var roomId = $('#session-name').val();
        var userName = '@Session["User.FirstName"] @Session["User.Surname"]';
        meeting.chat.server.joinRoom(nTab, roomId, userName);

        $('#' + nTab + ' .btnSend').click(function () {
          meeting.chat.server.send(nTab, roomId, userName, $('#' + nTab + ' .txtMessage').val());
        });

        copyColumns('added-members', nTab + ' .participants-list', 0);

        $('#create-session-window').modal('hide');
      }

      meeting.chat = $.connection.chatHub;

      meeting.chat.client.addNotificationMessage = function (nTab, name, message) {
        $('#' + nTab + ' .meeting-content').append('<li style="margin-bottom: 20px;"><strong>' + name + '</strong>: ' + message + '</li>');
      };

      meeting.chat.client.addChatMessage = function (nTab, name, message) {
        $('#' + nTab + ' .meeting-content').append(
          '<article class="blog-row clearfix chat-item pull-right">' +
            '<div class="blog-left">' +
              '<div><a href="#" class="vc_preview"><img alt="example image" src=@Url.Content("~/Content/img/blog/02-square.jpg")  /></a></div>' +
              '</div>' +
              '<div class="blog-right">' +
                '<h3 class="heading">' + name + '</h3>' +
                '<span class="comments"><i class="icon-comments"></i>' + message + '</span>' +
              '</div>' +
            '</article>'
            );
      };

      meeting.chat.client.addBroadcastChatMessage = function (nTab, name, message) {
        $('#' + nTab + ' .meeting-content').append(
          '<article class="blog-row clearfix chat-item">' +
            '<div class="blog-left">' +
              '<div><a href="#" class="vc_preview"><img alt="example image" src=@Url.Content("~/Content/img/blog/02-square.jpg")  /></a></div>' +
              '</div>' +
              '<div class="blog-right">' +
                '<h3 class="heading">' + name + '</h3>' +
                '<span class="comments"><i class="icon-comments"></i>' + message + '</span>' +
              '</div>' +
            '</article>'
            );
      };

      function copyColumns(src, tgt) {
        var colNos = [].slice.call(arguments, 2),
            $target = $("#" + tgt);
        $("#" + src + " .row").each(function () {
          if ($(this).css('display') != 'none') {
            var $tds = $(this).children(),
                $row = $('<a class="participant" href="#"></a>');
            for (var i = 0; i < colNos.length; i++)
              $row.append($tds.eq(colNos[i]).clone());
            $row.appendTo($target);
          }
        });
      }

      function addToMembers(data, canDelete) {
        var itemIndex = $("#added-members input.iHidden").length;

        var row_string =
          '<div class="row" data-index="' + itemIndex + '" data-key="' + data.key + '">' +
            '<div class="participant col-md-11">' + data.value + '</div>' +
            '<div style="display:none"><input id="Members_' + itemIndex + '__key" type="hidden" value="' + data.key + '" class="iHidden"  name="Members[' + itemIndex + '].key" /></div>';

        if (canDelete == true) {
          row_string +=
            '<div class="col-md-1"><span class="glyphicon glyphicon-remove user-remove" style="cursor:pointer"></span></div>' +
            '<div style="display:none"><input id="Members_' + itemIndex + '__delete" type="hidden" value="' + data.deleted + '" name="Members[' + itemIndex + '].delete" /></div>';
        }

        row_string += '</div>';

        var new_row = $(row_string);
        new_row.appendTo($('#added-members'));
      }

      function registerEvents() {

        meeting.closeMembers_OnClick = closeMembers_OnClick;

        meeting.currentUser = {
          key: '@Session[luxbsa.Helpers.Constants.Instance.KEY_User_Id]',
          value: '@Session[luxbsa.Helpers.Constants.Instance.KEY_User_Firstname]' + ' ' + '@Session[luxbsa.Helpers.Constants.Instance.KEY_User_Surname]'
        };

        addToMembers(meeting.currentUser, false);

        var typeahead = $('#user-search').typeahead({
          name: 'accounts',
          remote: {
            url: '@Url.Content("~/Profile/GetUsers")',
            rateLimitWait: 600,
            filter: function (parsedResponse) {
              return parsedResponse;
            },
            replace: function (url, value) {
              return url + '?term=' + value;
            }
          }
        });

        typeahead.on('typeahead:selected', function (evt, data) {
          if (isKeyAlreadyInTable(data.key) == true)
            return false;

          addToMembers(data, true);

          $('#user-search').val('');
        });

        $('#added-members').on('click', '.user-remove', function () {
          var itemIndex = $(this).parent().parent().attr('data-index');

          var key = $('#Members_' + itemIndex + '__key');
          $('#Members_' + itemIndex + '__delete').val('true');
          $('#Members_' + itemIndex + '__key').val(-1);

          $(this).parent().parent().css('display', 'none');
        });
      }




      function initDateTimePicker() {
        var currentdate = new Date();
        console.log();
        $('#scheduleDatetime').datetimepicker({
          mask: '9999/19/39 29:59',
          minDate: currentdate.getFullYear() + "/" + (currentdate.getMonth() + 1) + "/" + currentdate.getDate(),
          minTime: currentdate.getHours() + ':00'
        });
      }


      //-------------------------------------------------------------------------
      //-----------------------------------INIT----------------------------------
      //-------------------------------------------------------------------------

      function onPageLoad() {
        registerEvents();
        initDateTimePicker();
      }

      function onPageResetSize() {
        $('.tab-content').css('height', $(window).height() - 365);
        $('.meeting-content').css('height', $(window).height() - 460);
        $('#meeting').css('height', $(window).height() - 210);
      }

      meeting.onPageLoad = onPageLoad;
      meeting.onPageResetSize = onPageResetSize;

    }());

    $(document).ready(function () {
      meeting.onPageResetSize();
      meeting.onPageLoad();
    });

    $(window).resize(function () {
      meeting.onPageResetSize();
    });
  </script>
}