﻿@model luxbsa.Models.LoginModel

@{
  ViewBag.Title = "Login";
}

<div id="login">
  <div data-active="featuresA" class="header-3 mode-1" id="header">
    @if (Model.IsBeta == true)
    {
      <div class="block background-2">
        <div class="container">
          <div class="row">
            <nav class="vc_menu">
              <div class="logos" style="position: relative;">
                <img src="@Url.Content("~/Content/img/logo/logo.png")" alt="" />
              </div>
              <div class="vc_btn-navbar">
                <button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".login-menu"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
              </div>

              <div class="login-menu pull-right collapse navbar-collapse">
                <div class="hidden-xs hidden-sm col-md-2">
                  <img src="@Url.Content("~/Content/img/comingsoon.png")" height="100" style="margin-top: 25px;margin-right: 20px;" alt="" />
                </div>
                <div class="col-xs-11 col-sm-11 col-md-10">
                  <div class="hidden-md hidden-lg second-comingsoon">
                    <img src="@Url.Content("~/Content/img/comingsoon.png")" alt="" />
                  </div>
                  <div style="margin-top: 20px;">
                    <div style="border-bottom: 1px solid">
                      <div class="row" style="margin-bottom: 10px;">
                        <div class="col-sm-7 col-md-7">
                          <div style="font-size: 1.6em">Be one of the first with a LUX-BSA account! </div>
                          <a href="#" data-toggle="modal" data-target="#register-modal" style="font-size: 1.3em">Click here to sign up for FREE!</a>
                        </div>
                        <table class="col-sm-5 col-md-5 vc_social-share vc_tight vc_grey-color vc_border-top ">
                          <tr>
                            <td style="text-align: right"><span style="font-size: 0.9em">OR Alternatevely sign up using:</span></td>
                            <td><a title="Twitter" class="twitter" href="#" data-toggle="modal" data-target="#twitter-register-modal"><i class="fa fa-twitter"></i></a></td>
                          </tr>
                        </table>
                      </div>
                    </div>

                    <div style="font-style: italic; line-height: initial; font-size: 0.8em;">
                      <div>Be part of the LUX-BSA experience. This is uniquely a beta sign up phase and we shall keep you informed with the status and progress of our company as we grow and develop.</div>
                      <div>Your details shall not be used in any malicious manner whatsoever. They shall only be used to enable us tap into the potential of LUX-BSA.</div>
                      <div><b>NB: We shall not spam you.</b></div>
                    </div>
                  </div>
                </div>
              </div>

            </nav>
          </div>
        </div>
      </div>
    }
    else
    { 
      <div class="container">
        <div class="vc_secondary-menu">
          <div class="vc_social-share-wrappe pull-right">
            <div class="vc_contact-top" style="display: inline-block">
              <div class="pull-right" style="margin-right: 20px">
                <h5><span style="font-size: 1.1em;">Already Have an Account With: </span></h5>
              </div>
            </div>
            <div class="vc_social-share vc_tight vc_grey-color vc_border-top " style="display: inline-block;">
              <a title="Twitter" class="twitter" href="#" data-toggle="modal" data-target="#twitter-register-modal"><i class="fa fa-twitter"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="block background-2">
        <div class="container">
          <div class="row">
            <nav class="vc_menu">
              <div class="logos" style="position: relative;">
                <img src="@Url.Content("~/Content/img/logo/logo.png")" height="120" style="position:absolute;top: -25px;left: 0px;" alt="" />
              </div>
              <div class="vc_btn-navbar">
                <button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".login-menu"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
              </div>

              <div class="login-menuA pull-right">
                <img src="@Url.Content("~/Content/img/comingsoon.png")" height="120" style="display:inline-block;margin-top: -85px;margin-right: 20px;" alt="" />
                <div style="border-top: 1px solid; display: inline-block">
                  <div style="margin-top: 20px">
                    @if (!ViewData.ModelState.IsValid)
                    {
                      <div class="alert alert-danger validation-summary">@Html.ValidationSummary()</div>
                    }
                  </div>
                  <div class="element-spacing">

                    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new Dictionary<string, object> { { "class", "form-inline" }, { "role", "form" }, { "style", "margin-top: 20px" } }))
                    {

@*<form method="POST" action="" class="form-inline" role="form" style="margin-top: 20px;">*@
                      <div class="form-group">
                        <label class="sr-only" for="login-username">Email</label>
                        @Html.TextBoxFor(m => m.Email, new Dictionary<string, object> { { "class", "vc_input-inverse" }, { "placeholder", "Enter email" }, { "autofocus", "autofocus" }, { "required", "required" } })
                      </div>
                      <div class="form-group element-spacing">
                        <label class="sr-only" for="login-username">Password</label>
                        @Html.PasswordFor(m => m.Password, new Dictionary<string, object> { { "class", "vc_input-inverse" }, { "placeholder", "Enter password" }, { "required", "required" } })
                      </div>
                      <div class="checkbox" style="margin-left: 10px">
                        <label>
                          <input type="checkbox">
                          Remember me
                        </label>
                      </div>
                      <button type="submit" name="action:logIn" class="vc_btn btn-small element-spacing" value="">Log In &nbsp;&nbsp;&nbsp;<i class="fa fa-arrow-right"></i></button>
@*</form>*@
                    }
                    <div>
                      Not a member?&nbsp;&nbsp;&nbsp; <a href="#" data-toggle="modal" data-target="#register-modal">Click here to sign up for FREE!</a>    @*@Html.ActionLink("Click here to sign up", "Register", "Account").*@
                    </div>
                  </div>
                </div>
              </div>

            </nav>
          </div>
        </div>
      </div>
    }
  </div>
  <!-- Header Ends -->

  <!-- Register Modal -->
  <div class="modal fade" id="register-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <form id="register-user-form" class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Sign up with LUX BSA</h4>
        </div>
        <div class="modal-body row">
          <div class="col-md-4">
            <div class="form-group">
              <img class="logo" src="@Url.Content("~/Content/img/logo/logo.png")"   alt="" />
            </div>
            <div class="form-group">
              By joining LUX BSA, you agree to LUX BSA's <a href="javascript:void(0)" onclick="footer.terms_OnClick();">Terms & Conditions</a>
            </div>
          </div>
          <div class="col-md-8">
            <div class="visible register-form">
              <div class="form-group">
                <input id="reg-firstname" name="Firstname" type="text" value="" class="vc_input-inverse" placeholder="Firstname" />
                <div class="help-inline">Please enter your firstname</div>
              </div>
              <div class="form-group">
                <input id="reg-surname" name="Surname" type="text" value="" class="vc_input-inverse" placeholder="Surname" />
                <div class="help-inline">Please enter your surname</div>
              </div>
              <div class="form-group">
                <input id="reg-email" name="Email" type="text" value="" class="vc_input-inverse" placeholder="Email" autocomplete="off" />
                <div class="help-inline">Please enter your email address</div>
              </div>
              <div class="form-group">
                <input id="reg-password" name="Password" type="password" value="" class="vc_input-inverse" placeholder="Password" />
                <div class="help-inline">Please enter your password</div>
              </div>
              <div class="form-group">
                <input id="reg-password-retype" name="reg-password-retype" type="password" value="" class="vc_input-inverse" placeholder="Retype Password" />
                <div class="help-inline">Please re-enter your password</div>
              </div>
            </div>
            <div class="hidden success-form">
              <h4>You are almost done!</h4>
              <div class="alert alert-success">Thank you for joining LUX BSA. Please go to your email address and verify your registration.</div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="modal-footer register-form">
          <a class="vc_btn vc_btn-inverse btn-small" data-dismiss="modal">Cancel</a>
          @*<a class="vc_btn btn-small" onclick="login.registerUser_OnClick()">Join Now</a>*@
          <button class="vc_btn btn-small" type="submit">Join Now</button>
        </div>
      </form>
    </div>
  </div>

  <!-- Twitter Register Modal -->
  <div class="modal fade" id="twitter-register-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title"><i class="fa fa-twitter twitter-color icon-spacing"></i>Sign up with LUX-BSA using Twitter</h4>
        </div>
        <form id="twitter-register-form" class="modal-body row">
          <div class="col-md-4">
            <div class="form-group">
              <img class="logo" src="@Url.Content("~/Content/img/logo/logo.png")"   alt="" />
            </div>
            <div class="form-group">
              By joining LUX BSA, you agree to LUX BSA's <a href="javascript:void(0)" onclick="footer.terms_OnClick();">Terms & Conditions</a>
            </div>
          </div>
          <div class="col-md-8">
            <div class="form-group">
              <input id="reg-twitter-email" name="Email" type="text" value="" class="vc_input-inverse" placeholder="Email Addresss" />
              <div class="help-inline">Please enter your email address</div>
            </div>
            <div class="form-group">
              <a class="vc_btn vc_btn-inverse btn-small" data-dismiss="modal">Cancel</a>
              @*<a class="vc_btn btn-small" onclick="login.registerUser_OnClick()">Join Now</a>*@
              <button class="vc_btn btn-small" type="submit">Join Now</button>
            </div>
          </div>
          <div class="clearfix"></div>
        </form>
      </div>
    </div>
  </div>

  <!-- Notification Modal -->
  <div class="modal fade" id="notification-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body row">
          <div class="col-md-4">
            <div class="form-group">
              <img src="@Url.Content("~/Content/img/logo/logo_original.png")" />
            </div>
          </div>
          <div class="col-md-8">
            <div>
              <div class="form-group">
                <h4>Your account is now active.</h4>
              </div>
              <div class="form-group">
                <div class="alert alert-success">Your registration porcess is complete. Now you can log in and start using LUX BSA.</div>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- Metro Slider Begins -->
  <div class="vc_banner" style="margin-top: -20px">
    <div class="vc_metro-wrapper">
      <div class="vc_metro-slider-outer">
        <div class="viewport">
          <div class="overview">
            <div class="vc_metro-slider">
              <ul>
                <li class="odd">
                  <ul>
                    <li class="box type-1 anim-slide-right"><a href="javascript:void(0)">
                      <img style="margin-top: 90px; padding-left: 40px" alt="example image" src="~/Content/img/metro-img/phase1.png">
                      <div class="mouse-over background-13">
                        <div class="content">
                          <div class="text">
                            <h2>ENTER THE WORLD OF <span class="vc_main-color">LUX-BSA </span></h2>
                            <p>This business network aims to connect and inform the African public and private sectors for the purpose of Intra-African trade in skills, minerals, industries, trade and information while giving a platform to network with the relevant stake holders.</p>
                            <div class="vc_btn btn-small" onclick="footer.learnMore_OnClick();">Learn more about LUX-BSA</div>
                          </div>
                        </div>
                      </div>
                    </a></li>
                  </ul>
                </li>
                <li class="even">
                  <ul>
                    <li class="box type-1 anim-slide-left"><a href="javascript:void(0)">
                      <img style="padding-top: 20px" alt="example image" src="~/Content/img/metro-img/phase2.png">
                      <div class="mouse-over background-13" style="z-index: 1">
                        <div class="content">
                          <div class="text">
                            <h2>DISCOVER <span class="vc_main-color">NEW MARKETS </span></h2>
                            <p>LUX-BSA will connect businesses in different countries while giving an intimate view into the other different business cultures.</p>
                            <p>We as a company want the user to fully comprehend the entire continents business processes.</p>
                            <p>We have data that will give the user an intimate look into the undiscovered/neglected industries before they are known to the public.</p>
                            <div class="vc_btn btn-small" onclick="footer.learnMore_OnClick();">Learn more about LUX-BSA</div>
                          </div>
                        </div>
                      </div>
                    </a></li>
                    <li class="box type-3 anim-rotate"><a href="javascript:void(0)">
                      <img style="padding-top: 50px; padding-left: 100px" alt="example image" src="~/Content/img/metro-img/spot_hover.png">
                    </a></li>
                    <li class="box type-3 none"><a href="javascript:void(0)">
                      <img alt="example image" src="~/Content/img/metro-img/web_design_04.png">
                    </a></li>
                    <li class="box type-3 anim-hover"><a href="javascript:void(0)">
                      @*<img style="padding-top: 50px; padding-left: 50px" alt="example image" src="~/Content/img/metro-img/lamp_hover.png">*@
                    </a></li>
                    <li class="box type-2 anim-slide-top" style="position: absolute; top: 200px; left: 620px;"><a href="javascript:void(0)">
                      <img style="padding-left: 22px" alt="example image" src="~/Content/img/metro-img/phase3.png">
                      <div class="mouse-over background-13  @*bg-none*@">
                        <div class="content">
                          <div class="text">
                            <h2>EXPLORE <span class="vc_main-color">BUSINESS CONCEPTS </span></h2>
                            <p>We as LUX-BSA will give the user a chance to discover other businesses, company histories, projections and investment opportunities. <span class="vc_btn btn-mini" onclick="login.readMore_OnClick(3);">See More</span></p>
                            <div class="vc_btn btn-small" onclick="footer.learnMore_OnClick();">Learn more about LUX-BSA</div>

                          </div>
                        </div>
                      </div>
                    </a></li>
                    <li class="box type-3 none"><a href="javascript:void(0)">
                      <img alt="example image" src="~/Content/img/metro-img/web_design_07.png">
                    </a></li>
                  </ul>
                </li>
                <li class="odd">
                  <ul>
                    <li class="box type-1  anim-slide-left"><a href="javascript:void(0)">
                      <img style="padding-top: 32px" alt="example image" src="~/Content/img/metro-img/phase4.png">
                      <div class="mouse-over background-13">
                        <div class="content">
                          <div class="text">
                            <h2>LEADERS <span class="vc_main-color">PERSPECTIVES</span></h2>
                            <div class="metro-tile-content">
                              <span class="line1">"We talk about FDI all the time. What about AIA: Africa Invests in Africa?"</span>
                              <span class="line2"><span class="name" onclick="window.open('http://www.weforum.org/contributors/ngozi-okonjo-iweala')">Ngozi Okonjo-Iweala</span> - Coordinating Minister for the Economy and Minister of Finance of Nigeria (African Economic Outlook)</span>
                            </div>
                            <div class="metro-tile-content">
                              <span class="line1">"Human dignity needs only four things: food, health, education and transparency."</span>
                              <span class="line2"><span class="name" onclick="window.open('http://www.weforum.org/contributors/younes-slaoui')">Younes Slaoui</span> - Consultant, Strategy and Development, Attijariwafa Bank, Morocco (Facing Africa’s Future)</span>
                              <span class="vc_btn btn-mini" onclick="login.readMore_OnClick(4);">See More</span>
                            </div>
                            <div class="vc_btn btn-small" onclick="footer.learnMore_OnClick();">Learn more about LUX-BSA</div>
                          </div>
                        </div>
                      </div>
                    </a></li>
                  </ul>
                </li>
                <li class="even">
                  <ul>
                    <li class="box type-2 anim-hover"><a href="javascript:void(0)">
                      <img style="padding-top: 93px" alt="example image" src="~/Content/img/metro-img/joint2.png">
                    </a></li>
                    <li class="box type-3" style=""><a href="javascript:void(0)">
                      <img alt="example image" style="position: absolute; top: 100px;" src="~/Content/img/metro-img/web_design_10.png">
                    </a></li>
                    <li class="box type-3 none"><a href="javascript:void(0)">
                      <img alt="example image" src="~/Content/img/metro-img/web_design_11.png">
                    </a></li>
                    <li class="box type-3 none"><a href="javascript:void(0)">
                      <img alt="example image" src="~/Content/img/metro-img/web_design_12.png">
                    </a></li>
                    <li class="box type-1 anim-slide-bottom" style="margin-top: -190px;"><a href="javascript:void(0)">
                      <img style="padding-left: 30px; margin-top: 188px;" alt="example image" src="~/Content/img/metro-img/phase5.png">
                      <div class="mouse-over background-13">
                        <div class="content">
                          <div class="text">
                            <h2>PRODUCTS &<span class="vc_main-color"> SERVICES </span></h2>
                            <div class="metro-tile-content">
                              <b><u>Networked Registry Services</u></b>
                              <div>LUX-BSA provides the public, private, NGO, NPO sectors with invaluable information and networking opportunities.</div>
                            </div>
                            <div class="metro-tile-content">
                              <b><u>Data Tracking, Reporting</u></b>
                              <div>Our enhanced data on African business will serve as valuable data to our users’ strategic entry into Africa and the Rest of The World.</div>
                              <span class="vc_btn btn-mini" onclick="login.readMore_OnClick(5);">See More</span>
                            </div>
                            <div class="vc_btn btn-small" onclick="footer.learnMore_OnClick();">Learn more about LUX-BSA</div>
                          </div>
                        </div>
                      </div>
                    </a></li>
                    <li class="box type-3  "><a href="javascript:void(0)">
                      <img style="padding-top: 60px" alt="example image" src="~/Content/img/metro-img/joint3.png">
                    </a></li>
                  </ul>
                </li>
                <li class="odd">
                  <ul>
                    <li class="box type-1 anim-rotate"><a href="javascript:void(0)">
                      <img style="padding-top: 115px" alt="example image" src="~/Content/img/metro-img/phase6.png">
                      <div class="mouse-over background-13">
                        <div class="content">
                          <div class="text">
                            <h2>Statistics</h2>
                            <table class="metro-statistics">
                              <tr>
                                <td>Users:</td>
                                <td class="vc_main-color stat user-stat">@Model.Statistics.NUsers</td>
                              </tr>
                              <tr>
                                <td>Businesses:</td>
                                <td class="vc_main-color stat business-stat">@Model.Statistics.NBusinesses</td>
                              </tr>
                              <tr>
                                <td>Diary entries:</td>
                                <td class="vc_main-color stat diary_entry-stat">@Model.Statistics.NDiaryEntries</td>
                              </tr>
                            </table>
                          </div>
                        </div>
                      </div>
                    </a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <!-- vc_metro-slider -->
          </div>
          <!-- overview -->
        </div>
        <!-- viewport -->
        <div class="scrollbar">
          <div class="track">
            <div class="thumb vc_bg-color">
              <div class="btn-slide"></div>
              <div class="end"></div>
            </div>
          </div>
        </div>
      </div>
      <!-- vc_metro-slider-outer -->
    </div>
    <!-- vc_metro-wrapper -->
  </div>

  <div class="vc_footer-links">
    <div class="wrapper">
      <div class="container">

        <div class="footer-widget widget col-md-5">
          <h3>Can Africa Trade With Africa?</h3>
          <iframe class="youtube-player"
            style=""
            type="text/html" width="100%" height="210"
            src="http://www.youtube.com/embed/k__7RkRIgRs" allowfullscreen frameborder="1"></iframe>
        </div>

        <div id="vc_footer-about-mini" class="footer-widget widget col-md-4">
          <div class="vc_about" style="font-size: 1.1em">
            <h3>About LUX-BSA </h3>
            <p>The purpose of LUX-BSA is to offer both information needed by trading companies, investors, importers/exporters or NGOs as well as a platform to show some of Africa’s greatest achievers. <a href="javascript:void(0)" class="vc_read-more" onclick="footer.learnMore_OnClick();">Lean more about LUX-BSA</a></p>
            <div><i class="fa fa-envelope vc_main-color icon-spacing"></i><span><a href="mailto:info@luxbsa.com">info@luxbsa.com</a></span></div>
          </div>
          <div id="vc_footer-social-rounded" class="footer-widget widget" style="margin-top: 20px">

            <div class="vc_social-share vc_inverse vc_rounded" style="display: inline">
              <span style="margin-right: 10px; font-size: 1.5em; font-weight: bold;">Follow Us</span>
              <a title="Twitter" class="twitter" href="https://twitter.com/intent/user?screen_name=luxbsa" data-show-count="false"><i class="fa fa-twitter"></i></a>
            </div>
          </div>
        </div>




        <div class="footer-widget widget col-md-3">
          <a class="twitter-timeline" href="https://twitter.com/LUXBSA" data-widget-id="450992286025793536">Tweets by LUXBSA</a>
          <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
        </div>
      </div>
    </div>
  </div>
</div>



@section scripts{
  <script>

    var login = {};

    (function () {

      global.notification.client.updateStatistics = function (statistics) {
        $('.user-stat').html(statistics.NUsers);
        $('.business-stat').html(statistics.NBusinesses);
        $('.diary_entry-stat').html(statistics.NDiaryEntries);
      }

      /// ------------------------------------------
      /// Register User

      $("#register-user-form").validate({
        onkeyup: false,
        rules: {
          'Firstname': { required: true },
          'Surname': { required: true },
          'Email': {
            required: true,
            email: true,
            remote: {
              url: '@Url.Content("~/UserAPI/IsEmailAvailable")',
              async: false,
              type: 'GET',
              dataType: "json",
              data: { email: $('#reg-email').val() },
              dataFilter: function (response) {
                if (response == 'true') return false;
                return true;
              }
            }
          },
          'Password': { required: true },
          'reg-password-retype': { required: true, equalTo: '#reg-password' }
        },
        messages: {
          Email: {
            remote: jQuery.format("The email is already in use.")
          }
        },
        highlight: function (element) {
          $(element).closest('.form-group').addClass('field-validation-error');
        },
        success: function (element) {
          element.closest('.form-group').removeClass('field-validation-error');
        },
        submitHandler: function (form) {
          login.registerUser_OnClick();

          return false;
        }
      });

      login.registerUser_OnClick = function () {
        //if (!$("#register-user-form").valid()) { return; }
        debugger;

        var oData = {
          Firstname: $('#reg-firstname').val(),
          Surname: $('#reg-surname').val(),
          Email: $('#reg-email').val(),
          Password: $('#reg-password').val()
        };

        $.ajax({
          url: '@Url.Content("~/AccountAPI/RegisterUser")',
          type: 'POST',
          dataType: 'JSON',
          data: { data: JSON.stringify(oData) },
          success: function (oData) {
            $('#register-modal').modal('hide');
            global.showSimpleMessageBox('Thank you for joining LUX BSA. Please go to your email address and verify your registration.', 'You are almost done!', null, false, { Success: true });
          },
          error: function (oData) {
            debugger;
          }
        });
      }

      /// ------------------------------------------
      /// Twitter Register User

      $("#twitter-register-form").validate({
        onkeyup: false,
        rules: {
          'Email': {
            required: true,
            email: true,
            remote: {
              url: '@Url.Content("~/UserAPI/IsEmailAvailable")',
              async: false,
              type: 'GET',
              dataType: "json",
              data: { email: $('#reg-email').val() },
              dataFilter: function (response) {
                if (response == 'true') return false;
                return true;
              }
            }
          }
        },
        messages: {
          Email: {
            remote: jQuery.format("The email is already in use.")
          }
        },
        highlight: function (element) {
          $(element).closest('.form-group').addClass('field-validation-error');
        },
        success: function (element) {
          element.closest('.form-group').removeClass('field-validation-error');
        },
        submitHandler: function (form) {
          login.registerTwitterUser_OnClick();

          return false;
        }
      });

      login.registerTwitterUser_OnClick = function () {
        //if (!$("#twitter-register-form").valid() && !$("#twitter-register-form").valid()) { return; }

        var oData = {
          Email: $('#reg-twitter-email').val(),
          ConnectionId: global.notificationConnectionId
        };

        //var twitterWindow = window.open('', '_blank');//, 'width=500,height=500');
        $.ajax({
          url: '@Url.Content("~/TwitterAPI/AuthorizeJson")',
          global: false,
          type: 'POST',
          dataType: 'JSON',
          data: { data: JSON.stringify(oData) },
          success: function (oData) {
            //twitterWindow.location.assign(oData);
            //window.open(oData, '_self');

            window.location.href = oData;
          }
        });
      }

      global.notification.client.twitterSignUp_SucccessNotification = function () {
        $('.modal').modal('hide');
        global.hideBusy();
        global.showSimpleMessageBox('Thank you for joining LUX BSA. Please go to your email address and verify your registration.', 'You are almost done!', null, false, { Success: true });
      }


      global.notification.client.twitterSignUp_ErrorNotification = function () {
        $('.modal').modal('hide');
        global.hideBusy();
        global.showSimpleMessageBox('Oops..! An error has occured. <br /> Please <a href="javascript:void(0)" onclick="footer.contact_OnClick();">click here</a> to contact us. <br /><br /> Thank you', 'Error signing up!', null, false, { Danger: true });
      }

      // -------------------------------------------

      function createQuoteTileContent(line1, name, nameUrl, line2) {
        var content =
          '<div class="metro-tile-content">' +
            '<span class="line1">"' + line1 + '"</span>' +
            '<span class="line2"><span class="name" onclick="window.open(\'' + nameUrl + '\')">' + name + '</span> - ' + line2 + '</span>' +
          '</div>';
        return content;
      }

      /// products and services
      function createPSTileContent(title, desc) {
        var content =
          '<div class="metro-tile-content">' +
            '<b><u>' + title + '</u></b>' +
            '<div>' + desc + '</div>' +
          '</div>'
        return content;
      }

      login.readMore_OnClick = function (phase) {
        if (phase == 3) {

          var msg =
            '<p>We as LUX-BSA will give the user a chance to discover other businesses, company histories, projections and investment opportunities. </p>' +
            '<p>We want to give our users direct access to underdeveloped, unexploited industries and provide our users direct opportunities for investment.</p>' +
            '<p>We as an information and networking site are dedicated to serving our users and catering to their information needs.</p>';
          global.showSimpleMessageBox(msg, 'Explore Business Concepts', null, false);


        } else if (phase == 4) {
          var msg =
          createQuoteTileContent('We talk about FDI all the time. What about AIA: Africa Invests in Africa?', 'Ngozi Okonjo-Iweala', 'http://www.weforum.org/contributors/ngozi-okonjo-iweala', 'Coordinating Minister for the Economy and Minister of Finance of Nigeria (African Economic Outlook)') +
          createQuoteTileContent('Human dignity needs only four things: food, health, education and transparency.', 'Younes Slaoui', 'http://www.weforum.org/contributors/younes-slaoui', 'Consultant, Strategy and Development, Attijariwafa Bank, Morocco (Facing Africa’s Future)') +
          createQuoteTileContent('One of our key comparative advantages is low labour costs and youth. The geese of manufacturing are flying westwards from East Asia. They will land in Africa and stay there.', 'Benno Ndulu', 'http://www.weforum.org/contributors/benno-ndulu', 'Governor of the Bank of Tanzania (African Economic Outlook)') +
          createQuoteTileContent('We’re going to have a gender revolution in Africa. Women are our asset. They are the doers and the makers.', 'Bineta Diop', 'http://www.weforum.org/contributors/bineta-diop', 'Chair of the Executive Board, Femmes Africa Solidarité, Switzerland (Africa 2063: From Fragility to Stability)') +
          createQuoteTileContent('Integration, integration, integration: it will make Africa stronger and benefit the world.', 'Carl Bildt', 'http://www.weforum.org/contributors/carl-bildt', 'Minister of Foreign Affairs of Sweden (Africa’s Global Partnerships)') +
          createQuoteTileContent('It’s good for Africans to say ‘now it’s time to compete with China.', 'Zhong Jianhua', 'http://www.weforum.org/contributors/zhong-jianhua', 'Special Representative of the Chinese Government on African Affairs, Ministry of Foreign Affairs, People’s Republic of China (Africa’s Global Partnerships)') +
          createQuoteTileContent('We’ve prepared our students to seek work, not to create work. Let’s prepare our young people to seek to be employers, to seek to create jobs, to seek to be entrepreneurs.', 'Phumzile Mlambo-Ngcuka', 'http://www.weforum.org/contributors/phumzile-mlambo-ngcuka', 'Founder and Chairperson, Umlambo Foundation, South Africa, (Africa’s Global Partnerships)') +
          createQuoteTileContent('To be at peace with local people as providers of raw materials, as workers, you have to engage them in your project.', 'Mario Machungo', 'http://www.weforum.org/contributors/mario-machungo', 'Chairman, Millennium BIM, Mozambique (Africa’s Global Partnerships)') +
          createQuoteTileContent('From our point of view, the African continent is one. We don’t think of it in terms of north of the Sahara and south of Sahara', 'Abdelkader Bensalah', 'http://www.weforum.org/contributors/abdelkader-bensalah', 'President, Council of the Nation, Algeria (Africa 2063: From Fragility to Stability)') +
          createQuoteTileContent('The great thing in Africa today is the sense of community, driven by social media and technology.', 'Arif M. Naqvi', 'http://www.weforum.org/contributors/arif-m-naqvi', 'Founder and Group Chief Executive, The Abraaj Group, United Arab Emirates (Africa 2063: From Fragility to Stability)')
          ;

          global.showSimpleMessageBox(msg, 'Leaders Perspectives', 'modal-lg', true);

        } else if (phase == 5) {

          var msg =
          createPSTileContent('Networked Registry Services', 'LUX-BSA provides the public, private, NGO, NPO sectors with invaluable information and networking opportunities.') +
          createPSTileContent('Data Tracking, Reporting', 'Our enhanced data on African business will serve as valuable data to our users’ strategic entry into Africa and the Rest of The World.') +
          createPSTileContent('Investment finder', 'A unique feature to the network, this function allows an investor to track progressions and data that is necessary to analyse potential investment, example financial statements, project initiatives, company growth rate, current and projected turnover.') +
          createPSTileContent('New Market Finder', 'This feature provides unique mathematical methods to articulate potential markets in a specific area or place. The combination of the GDP rate for the past five years, current market value of resource, amount of resource to be exploited along with the EPM (economic performance measurement), production possibilities to define the potential Revenue to be made. the measurements might constantly alter in the result of inflation rates and the continuous change of financial market.') +
          createPSTileContent('Status Request search', 'This feature is different from the traditional status update, The user will fill in a status and depending on what is being typed e.g. hotel, the system will automatically search for every surrounding accommodation in the area.')
          ;

          global.showSimpleMessageBox(msg, 'Products and Services - (In Developement)', 'modal-lg', false);

        }
      }

      login.onPageLoad = function () {
        var signUpCompleted = '@Model.SignUpCompleted';
        var showActivationCompleted = '@Model.ShowActivationCompleted';
        var showDeactivationCompleted = '@Model.ShowDeactivationCompleted';
        var showDisassociationCompleted = '@Model.ShowDisassociationCompleted';

        var showTerms = '@Model.ShowTerms';

        if (signUpCompleted == 'True') {
          global.showSimpleMessageBox('Thank you for joining LUX BSA. Please go to your email address and verify your registration.', 'You are almost done!', null, false, { Success: true });
        } else if (signUpCompleted == "False") {
          global.showSimpleMessageBox('Oops..! An error has occured. <br /> Please <a href="javascript:void(0)" onclick="footer.contact_OnClick();">click here</a> to contact us. <br /><br /> Thank you', 'Error signing up!', null, false, { Danger: true });
        } else if (showActivationCompleted == 'True') {
          global.showSimpleMessageBox('Your registration porcess is complete. <br /><br />You shall be notified on the progress of LUX-BSA and when you shall be able to start networking..', 'Your account is now active.', null, false, { Success: true });
        } else if (showActivationCompleted == 'False') {
          global.showSimpleMessageBox('You can only activate an account that already exists.', 'Activation of account failed!', null, false, { Danger: true });
        } else if (showDeactivationCompleted == "True") {
          global.showSimpleMessageBox('Your account has now been deactivated. <br /><br />You can always re-activate it at some later stage.', 'Your account is now inactive.', null, false, { Success: true });
        } else if (showDeactivationCompleted == "False") {
          global.showSimpleMessageBox('You can only deactivate an account that already exists.', 'Deactivation of account failed!', null, false, { Danger: true });
        } else if (showDisassociationCompleted == "True") {
          global.showSimpleMessageBox('You have successfully been disassociated from LUX-BSA.', 'Your have been disassociated from Lux-Bsa.', null, false, { Success: true });
        } else if (showDisassociationCompleted == "False") { /// TODO: cannot disassociate if previously active
          global.showSimpleMessageBox('You can only disassociate an account that already exists and/or is inactive.', 'Disassociation from LUX-BSA Failed!', null, false, { Danger: true });
        }

        if (showTerms == 'True') {
          footer.terms_OnClick();
        }
      }

    })();

    $(document).ready(function () {
      login.onPageLoad();
    });

  </script>
}