﻿@model luxbsa.Models.UserModel

@{
  ViewBag.Title = "Register";
  var inputClasses = "round full-width-input";
}

<!-- TOP BAR -->
<div id="top-bar">
  <div class="page-full-width">
  </div>
</div>

<!-- HEADER -->
<div id="header">
  <div class="page-full-width cf">
    <div id="login-intro" class="fl">
      <h1 style="color: white">Sign up LUX-BSA</h1>
      <h5>Please fill in your details below</h5>
    </div>
    <a href="#" id="company-branding" class="fr">
      <img src=@Url.Content("~/Content/themes/purdila/images/company-logo.png") alt="Blue Hosting" />
    </a>
  </div>
</div>
<div>
  <form method="POST" id="login-form" style="margin-top: 20px">
    <fieldset>
      <p>
        @Html.LabelFor(m => m.Firstname, "First Name")
        @Html.TextBoxFor(m => m.Firstname, new { @class = inputClasses })
      </p>
      <p>
        @Html.LabelFor(m => m.Surname, "Surname")
        @Html.TextBoxFor(m => m.Surname, new { @class = inputClasses })
      </p>
      <p>
        @Html.LabelFor(m => m.Email, "Email")
        @Html.TextBoxFor(m => m.Email, new { @class = inputClasses })
      </p>
      <p>
        @Html.LabelFor(m => m.Password, "Password")
        @Html.PasswordFor(m => m.Password, new { @class = inputClasses })
      </p>
      <input type="submit" class="button round blue image-right ic-right-arrow" value="JOIN NOW" />
    </fieldset>
    <br />
    @if (ViewData.ModelState.IsValid)
    {
      <div class="information-box round">
        By joining LUX-BSA, you agree to LUX-BSA's
        <br />
        <a href="#">User Agreement</a>, <a href="#">Privacy Policy</a>, and <a href="#">Cookie Policy</a>
      </div>
    }
    else
    {
      <div class="error-box round">@Html.ValidationSummary()</div>
    }
  </form>
</div>
