﻿@{
  ViewBag.Title = "Scout";
}

<div class="wrapper background-2">
  <div class="container">
    <div id="scout">
      <div class="container row vc_title">
        <h3 class="vc_widget-title pull-left">Scout</h3>
      </div>

      <div class="vc_portfolio block">
        <div class="row block filter-block">
          <div class="col-md-6A">
            <form class="form-horizontal" action="#" role="form">
              <label class="col-md-1 control-label">Country</label>
              <div class="col-md-3 controls">
                <select id="country-select" data-filter-group="country" class="vc_input-inverse filter-element">
                  <option value="*" data-filter-value="">All *</option>
                </select>
              </div>
              <label class="col-md-1 control-label">Sectors</label>
              <div class="col-md-3 controls">
                <select id="sector-select" data-filter-group="sector" class="vc_input-inverse filter-element">
                  <option value="*" data-filter-value="">All *</option>
                </select>
              </div>
            </form>
          </div>
        </div>
        <div id="portfolio" class="vc_portfolio-page portfolio-3 row clearfix">

        </div>
        <!-- .row -->
      </div>


    </div>
  </div>
</div>

@section scripts {

  <script id="business_item_template" type="text/html">
    <div class="portfolio-item col-md-3 p-country-{{CountryFormated}} p-sector-{{Sector.NameFormated}}">
      <div class="vc_anim vc_anim-slide">
        <div class="vc_preview" style="border: 1px solid lightgrey">
          <img alt="example image" src="Content/img/portfolio/03.jpg" />
          <h4 class="heading">{{Name}}</h4>
          <div class="heading">{{Country}} - {{Sector.Name}}</div>
        </div>
        <div class="vc_hover">
          <div class="hover-wrapper">
            <div class="text-wrapper ">
              <div class="ellipsis">
                <div>
                  <p>{{Description}}</p>
                </div>
              </div>
            </div>
            <div class="icon-wrapper" style="bottom: 5%;">
              <ul>
                {{#HasVideoLink}}<li class="vc_icon"><a data-rel="prettyPhoto" href="{{VideoLink}}"><i class="fa fa-play-circle"></i></a></li>{{/HasVideoLink}}                
                <li class="vc_icon"><a href="Profile/BusinessProfile/{{Id}}"><i class="fa fa-link"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </script>

  <script>
    var scout = {};

    (function () {
      //-------------------------------------------------------------------------
      //-----------------------------------INIT----------------------------------
      //-------------------------------------------------------------------------

      @{
        var countryNames = Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(luxbsa.Controllers.Service.CountryAPIController.ListOfCountryNamesByName().Data));
        var sectorNames = Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(luxbsa.Controllers.SectorAPIController.GetSectors().Data));
        }

      function loadCountryFilters() {
        var countryOptions = $("#country-select");
        var tCountryInfoList = @countryNames;
        $.each(tCountryInfoList, function (index, countryInfo) {          
          countryOptions.append('<option value="' + index +'" data-filter-value=".p-country-' + countryInfo.sName.replace(/ /g,'_') + '">' + countryInfo.sName +'</option>');
        });
      }

      function loadSectorFilters() {
        var sectorOptions = $("#sector-select");
        var sectorList = @sectorNames;
        $.each(sectorList, function (index, sectorInfo) {          
          sectorOptions.append('<option value="' + index +'" data-filter-value=".p-sector-' + sectorInfo.Name.replace(/ /g,'_') + '">' + sectorInfo.Name +'</option>');
        });
      }


      function loadFilters() {
        loadCountryFilters();
        loadSectorFilters();
        
        var filters = {};
        
        //var $container = $('#portfolio');
        //$container.isotope();
        //$container.isotope({ filter: '*' });

        $(".filter-element").on('change', function() {
          var group = $(this).attr('data-filter-group');
          var value = $(this).find("option:selected").attr('data-filter-value');
          
          filters[group] = value;

          var isoFilters = [];
          for(var prop in filters) {
            isoFilters.push(filters[prop]);
          }

          var selector = isoFilters.join('');
          
          var $container = $('#portfolio');
          $container.isotope();
          $container.isotope({ filter: selector });
          return false;
        });

      }


      var $container = $('#portfolio');

      function loadBusinesses() {

        
        //$container.isotope();

        $.ajax({
          url: '@Url.Content("~/BusinessAPI/GetBusinessItems")',
          type: 'GET',
          dataType: 'json',
          success: function(oData) { 
            $.each(oData, function(index, element) {
              element.CountryFormated = element.Country.replace(/ /g,'_');
              element.Sector.NameFormated = element.Sector.Name.replace(/ /g,'_');
              var business_item = ich.business_item_template(element);
              $('#portfolio').append(business_item);//.isotope('appended',business_item); ;
            });
            //var $container = $('#portfolio');
            //$container.isotope();
            //$container.isotope('reloadItems'); 
             
            $("a[data-rel^='prettyPhoto']").prettyPhoto();

            
          },
          error: function(oData) {
            debugger;
          }
        });
        
      }

      
      function onPageLoad() {
        
        

        loadFilters();
        loadBusinesses();
        

      }

      function onPageResetSize() {
        $('#scout').css('height', $(window).height() - 210)
      }

      scout.onPageLoad = onPageLoad;
      scout.onPageResetSize = onPageResetSize;
    }());

    $(document).ready(function () {
      scout.onPageResetSize();
      scout.onPageLoad();
    });

    $(window).load(function () {
      //applyIsotope();
    });

    $(window).resize(function () {
      scout.onPageResetSize();
      //if (init == true) { $container.isotope('reLayout'); }
      //$container.isotope('reLayout');
    });



  </script>
}
