﻿/*body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}*/


/* Styles for basic forms
-----------------------------------------------------------*/
/*fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}*/


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

/* Other styles
-----------------------------------------------------------*/

/* content */
div.content {
	background: #f8f9fa url('../images/artwork-pattern.png') repeat-x left bottom;
	/*border: 1px solid #eeefef;*/
	padding: 1.875em 0; /* 30/16 */
}

div.content-module {
	background: white;
	margin: 1em 0; 
	/*border: 1px solid #eeefef;*/
}

div.content-module-heading {
	background: #3f4551;
	cursor: pointer;
}

div.content-module-main { padding: 1em;}

.button {
	padding: 0.833em;
	display: inline-block;
	text-decoration: none;
	background-repeat: no-repeat;
}

.dark {
	background-color: #3f4551;
	color: white;
}
	.dark:hover {
		background-color: #5d6677;
		color: white;
	}
.round {
	border-radius: 0.3125em;
	-moz-border-radius: 0.3125em;
	-webkit-border-radius: 0.3125em;
}

.pointer {
    cursor:pointer;
}

.fl { float: left; }
.fr { float: right; }
.middle { margin-left: auto; margin-right: auto;}
.cb { clear: both; }

div#footer {
    background-color: #2a2e36;
	text-align: center;
	padding: 1.875em 0; /* 30/16 */
}

div.stripe-separator {
	background: transparent url('./themes/purdila/images/separator-bg.png') repeat-x left center;
	height: 0.562em; /* 9/16 */
	display: block;
	margin: 1.25em 0; /* 20/16 */
}

.ammapDescriptionWindow {
	background-color: #ccc;
	padding: 10px;
	border-radius: 5px;
	font-family: Verdana;
	font-size: 10px;
	opacity: 0.95;
	overflow: auto;
}

@import url(http://fonts.googleapis.com/css?family=Covered+By+Your+Grace:400);

image{
	border:none;
}

/*a:link{
	font-family: "Covered By Your Grace";
	color: #95a6ff;
	opacity:0.9;
	text-decoration: none;
}

a:active{
	font-family: "Covered By Your Grace";
	color: #95a6ff;
	opacity:0.9;
	text-decoration: none;
}

a:visited{
	font-family: "Covered By Your Grace";
	color: #95a6ff;
	opacity:0.9;
	text-decoration: none;
}

a:hover{
	font-family: "Covered By Your Grace";
	color: #ff9595;
	text-decoration: none;
	opacity:1;
}*/

.desc_container {
    overflow:hidden;
    width:100%;
}

.desc_container img{		    	
	float:right;
}

.modal-xl {
	width: auto;
	padding-left: 100px;
	padding-right: 100px;
	/*height: 100%;*/
}
.modal-content {
	/*height: 100%;*/
}*/

.pointer {
	font-weight: bold;
	margin-right: 1.3.0 89
   tx;
}

.country_menu {
    font-size: 1.1em;
}

.info_table {
    background-color:whitesmoke
}

.country_bullet {
    padding-left:20px;
}

.info_table td {
    white-space: nowrap;
}

.info_section {
    margin-bottom: 40px;
}

