#loading {
  position: fixed;
  z-index: 99999999999;
  width: 100%;
  height: 100%;
  /* Fallback for web browsers that don't support RGBa */
  background-color: #000000;
  /* RGBa with 0.6 opacity */
  background-color: rgba(0, 0, 0, 0.6);
  /* For IE 5.5 - 7*/
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}
#loading img {
  position: absolute;
  left: 50%;
  margin-left: -64px;
  top: 50%;
  margin-top: -70px;
}
.twitter-color {
  color: #38a5dd;
}
.form-group-lg {
  margin-bottom: 40px;
}
.modal-body-height-auto {
  overflow-x: hidden;
  overflow-y: auto;
  height: auto;
}
.wrapper {
  overflow: auto;
}
.no-border {
  border: 0px;
}
.no-border-radius {
  border-radius: 0;
}
.element-spacing {
  margin-left: 10px;
}
.validation-summary {
  height: 46px;
  font-weight: bold;
}
.validation-summary-errors {
  margin-top: -8px;
}
.field-validation-error {
  border: 1px solid #f00;
  background-color: #fee;
}
.vc_title {
  background-color: #EEE;
  padding: 8px 13px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.icon-spacing {
  margin-left: 10px;
  margin-right: 10px;
}
.vc_title h3 {
  padding: 0;
}
.metro-tile-content {
  margin-bottom: 20px;
}
.metro-tile-content > span.line2 {
  display: block;
  font-size: 0.8em;
}
.metro-tile-content > span.line2 .name {
  font-style: italic;
  font-weight: bold;
  text-decoration: underline;
  color: #38a5dd;
  cursor: pointer;
}
table.metro-statistics {
  margin-top: 40px;
}
table.metro-statistics tr td {
  font-size: 1.5em;
  padding: 20px;
}
table.metro-statistics tr td.stat {
  font-size: 3em;
}
#meeting .vc_widget-title button {
  font-size: 14pt;
}
#meeting .vc_blog-list {
  border-right: 1px solid lightgrey;
}
#meeting .meeting-content .heading {
  padding-right: 10px;
}
#meeting .participants a {
  display: block;
  text-decoration: none;
}
.participant {
  /*background-color: #3f4551;*/
  /*color: white;*/
}
.participant:hover {
  background-color: #5d6677;
  color: white;
}
.row-item {
  margin-top: 20px;
}
.row-item button {
  width: 100%;
}
#meeting .meeting-content {
  overflow-y: scroll;
}
#meeting .chat-item {
  background-color: #EEE;
}
#meeting .chat-item.pull-right {
  background-color: #56BAE5;
  color: white;
}
.participants-menu {
  margin-bottom: 20px;
}
.ui-datepicker-title select {
  height: auto;
  line-height: normal;
  background-color: white;
  color: black;
  padding: 0;
}
.profile-input {
  border-right: 1px solid lightgrey;
}
.profile-pic-container {
  width: 200px;
  height: 200px;
}
.profile-pic-container .profile-pic {
  border: 1px solid #5C6161;
}
.profile-pic-container .profile-pic[data-edit=true] {
  border: 2px dashed #5C6161;
}
.profile-pic-container .edit-picture {
  position: absolute;
  left: 180px;
  top: 5px;
  font-size: 2em;
  border-radius: 5px;
}
.pic-container[data-edit=true]:hover .profile-pic,
.pic-container[data-edit=true]:hover .diary-pic {
  border: 2px solid #38A5DD;
}
.pic-container[data-edit=true]:hover .edit-picture {
  color: #38A5DD;
}
.profile-input label {
  font-weight: bold;
  text-decoration: underline;
}
.diary-pic-container .diary-pic {
  border: 1px solid #5C6161;
}
.diary-pic-container .diary-pic[data-edit=true] {
  border: 2px dashed #5C6161;
}
.diary-pic-container .edit-picture {
  position: absolute;
  right: 23px;
  top: 5px;
  font-size: 2em;
  border-radius: 5px;
}
.accounts .vc_social-share {
  margin-top: 20px;
}
.accounts .vc_social-share a {
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 5px;
}
.accounts .vc_social-share a i {
  margin-top: 15px;
}
.combined-panel {
  padding-bottom: 40px;
}
.combined-panel h4 {
  margin-top: 5px;
}
.readmore-js-toggle,
.readmore-js-section {
  /*display: block;*/
  width: auto;
}
.readmore-js-section {
  overflow: hidden;
}
.configure-account {
  margin-top: 30px;
}
.configure-account legend {
  font-size: 1.2em;
}
.twitter-modal .modal-body {
  padding: 15px;
}
.ellipsis {
  overflow: hidden;
  height: 145px;
  line-height: 25px;
  margin: 10px;
  border: 1px solid #AAA;
}
.ellipsis:before {
  content: "";
  float: left;
  width: 5px;
  height: 160px;
}
.ellipsis > *:first-child {
  float: right;
  width: 100%;
  margin-left: -5px;
}
.ellipsis:after {
  content: "\02026";
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  float: right;
  position: relative;
  top: -25px;
  left: 100%;
  width: 3em;
  margin-left: -3em;
  padding-right: 5px;
  text-align: right;
  /*background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(white), color-stop(50%, white));
        background: -moz-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
        background: -o-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
        background: -ms-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
        background: linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);*/
}
.portfolio-item .heading {
  text-align: center;
  margin: 10px 0;
}
.filter-block {
  border: 1px dotted lightgrey;
  padding: 15px 0;
}
#login #header .logos > img {
  position: absolute;
  top: 25px;
  left: 0px;
  height: 100px;
}
#login #header .login-menu {
  width: 85%;
}
#login #header .login-menu .second-comingsoon > img {
  height: 80px;
}
@media only screen and (max-width: 991px) {
  .logo {
    width: 50px;
    display: none;
  }
  #login #header .logos > img {
    height: 80px;
  }
  #login #header .login-menu {
    width: 100%;
    padding-left: 115px;
  }
  #login #header .login-menu .second-comingsoon {
    position: absolute;
    top: 110px;
    left: -95px;
  }
  #login #header .login-menu .second-comingsoon > img {
    height: 70px;
  }
}
@media only screen and (max-width: 767px) {
  .logo {
    width: 50px;
    display: none;
  }
  #login #header .logos > img {
    height: 50px;
  }
  #login #header .login-menu {
    padding-left: 100px;
  }
  #login #header .login-menu .second-comingsoon {
    top: 90px;
    left: -100px;
  }
  #login #header .login-menu table.vc_social-share tr td {
    padding: 20px 0 0 20px;
  }
}
