#login #header .logos > img {
  position: absolute;
  top: 25px;
  left: 0px;
  height: 100px;
}
#login #header .login-menu {
  width: 85%;
}
#login #header .login-menu .second-comingsoon > img {
  height: 80px;
}
@media only screen and (max-width: 991px) {
  .logo {
    width: 50px;
    display: none;
  }
  #login #header .logos > img {
    height: 80px;
  }
  #login #header .login-menu {
    width: 100%;
    padding-left: 115px;
  }
  #login #header .login-menu .second-comingsoon {
    position: absolute;
    top: 110px;
    left: -95px;
  }
  #login #header .login-menu .second-comingsoon > img {
    height: 70px;
  }
}
@media only screen and (max-width: 767px) {
  .logo {
    width: 50px;
    display: none;
  }
  #login #header .logos > img {
    height: 50px;
  }
  #login #header .login-menu {
    padding-left: 100px;
  }
  #login #header .login-menu .second-comingsoon {
    top: 90px;
    left: -100px;
  }
  #login #header .login-menu table.vc_social-share tr td {
    padding: 20px 0 0 20px;
  }
}
