﻿#login {
    #header {
        .logos {
            > img {
                position: absolute;
                top: 25px;
                left: 0px;
                height: 100px;
            }
        }

        .login-menu {
            width: 85%;
            .second-comingsoon {
                > img {
                    height: 80px;
                }
            }
        }
    }
}

@media only screen and (max-width : 991px) {
    .logo {
        width:50px;
        display:none;
    }
    #login {
        #header {
            .logos {
                > img {
                    height: 80px;
                }
            }

            .login-menu {
                width: 100%;
                padding-left: 115px;

                .second-comingsoon {
                    position: absolute;
                    top: 110px;
                    left: -95px;

                    > img {
                        height: 70px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width : 767px) {
    .logo {
        width:50px;
        display:none;
    }

    #login {
        #header {
            .logos {
                > img {
                    height: 50px;
                }
            }
            .login-menu {
                padding-left: 100px;
                .second-comingsoon {
                    top: 90px;
                    left: -100px;
                }

                table.vc_social-share tr td {
                    padding: 20px 0 0 20px;
                }
            }
        }
    }
}
