﻿@model luxbsa.Controllers.Fruit
@{
    ViewBag.Title = "LookupList";
}

<h2>LookupList</h2><br />

<li class="ae-lookup-item" data-value='@Model.Id'>
<span class="ae-lookup-mbtn">
</span>
    @Model.Name
</li>
