﻿@model luxbsa.Models.BusinessModel
@using System;
@{
  ViewBag.Title = "Business Profile";
}

<div class="wrapper background-2">
  <div class="container">
    <div id="business-profile">

      <div class="container row vc_title">
        <h3 class="vc_widget-title pull-left">Business Profile</h3>
        <div class="btn-group pull-right">
          <a class="vc_btn btn-small element-spacing vc_alter-bg-color btn-cancel hide" onclick="businessProfile.cancelProfile_OnClick();">
            <i class="glyphicon glyphicon-remove icon-spacing"></i>
            Cancel
          </a>
          <a class="vc_btn btn-small element-spacing btn-ok hide" onclick="businessProfile.saveProfile_OnClick();">
            <i class="glyphicon glyphicon-ok icon-spacing"></i>
            Save Changes
          </a>
          <a class="vc_btn btn-small element-spacing btn-enable" onclick="businessProfile.enableProfile_OnClick();">
            <i class="glyphicon glyphicon-edit icon-spacing"></i>
            Edit Profile
          </a>
        </div>
      </div>

      <div id="vc_accordion-widget" class="panel-group">
        <div class="panel panel-default" style="overflow: visible;">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a href="#profile" data-parent="#vc_accordion-widget" data-toggle="collapse" class="accordion-toggle"><i class="fa fa-bookmark"></i>Profile </a>
            </h4>
          </div>


          <div class="panel-collapse in" id="profile" style="height: auto;">
            <div class="panel-body">
              <aside class="col-md-3">
                <div class="pic-container profile-pic-container" data-edit="false">
                  <i class="glyphicon glyphicon-pencil edit-picture hide"></i>
                  <img class="profile-pic" data-edit="false" src="@Url.Content("~/Content/themes/purdila/images/user-placeholder.png")" />
                </div>
              </aside>
              <div class="col-md-6 profile-input">
                <div class="row">
                  <label class="col-md-3" for="inputSector">Sector</label>
                  <a href="#" class="col-md-8 inputEditable" id="inputSector" data-name="@Html.DisplayNameFor(m => m.SectorId)" data-type="select" data-pk="@Model.Id" data-title="Select Sector">@Model.SectorName</a>
                </div>
                <div class="row">
                  <label class="col-md-3" for="inputName">Name</label>
                  <a href="#" class="col-md-8 inputEditable" id="inputName" data-name="@Html.DisplayNameFor(m => m.Name)" data-type="text" data-pk="@Model.Id" data-title="Enter Name">@Model.Name</a>
                </div>
                <div class="row">
                  <label class="col-md-3" for="inputDescription">Description</label>
                  <a href="#" class="col-md-8 inputEditable" id="inputDescription" data-name="@Html.DisplayNameFor(m => m.Description)" data-type="textarea" data-pk="@Model.Id" data-title="Enter Description">@Model.Description</a>
                </div>

                <div class="row">
                  <label class="col-md-3" for="inputWebsiteLink">Website Link</label>
                  <a href="#" class="col-md-8 inputEditable" id="inputWebsiteLink" data-name="@Html.DisplayNameFor(m => m.WebsiteLink)" data-type="text" data-pk="@Model.Id" data-title="Enter Website Link">@Model.WebsiteLink</a>
                </div>
                <div class="row">
                  <label class="col-md-3" for="inputAddress">Address</label>
                  <a href="#" class="col-md-8 inputEditable" id="inputAddress" data-name="@Html.DisplayNameFor(m => m.Address)" data-type="textarea" data-pk="@Model.Id" data-title="Enter Address">@Model.Address</a>
                </div>
                <div class="row">
                  <label class="col-md-3" for="inputCountry">Country</label>
                  <a href="#" class="col-md-8 inputEditable" id="inputCountry" data-name="@Html.DisplayNameFor(m => m.Country)" data-type="select" data-pk="@Model.Id" data-title="Enter Address">@Model.Country</a>
                </div>
                <div class="row">
                  <label class="col-md-3" for="inputRegistrationNumber">Registration Number</label>
                  <a href="#" class="col-md-8 inputEditable" id="inputRegistrationNumber" data-name="@Html.DisplayNameFor(m => m.RegistrationNumber)" data-type="text" data-pk="@Model.Id" data-title="Enter Registration Number">@Model.RegistrationNumber</a>
                </div>
                <div class="row">
                  <label class="col-md-3" for="inpuVideo">Video Link</label>
                  <a href="#" class="col-md-8 inputEditable" id="inpuVideo" data-name="@Html.DisplayNameFor(m => m.VideoLink)" data-type="text" data-pk="@Model.Id" data-title="Enter Video Link">@Model.VideoLink</a>

                  <iframe class="youtube-player"
                    style="margin-top: 10px; padding-left: 150px; padding-right: 15px"
                    type="text/html" width="100%" height="200"
                    src="http://www.youtube.com/embed/X-b2Zrr8BEk" allowfullscreen frameborder="1"></iframe>

                </div>
              </div>
              <aside class="col-md-3 accounts">
                <h4>Members</h4>
                @*<section id="members" style="margin-top: 20px"></section>*@

                <div>
                  <input id="userSearch" type="text" class="vc_input-inverse member-edit hide" placeholder="Search members..." />
                  <div id="addedMembers">
                    @for (int i = 0; i < Model.Members.Count; i++)
                    {
                      <div class="row" data-index="@i" data-key="@Model.Members[i].key">
                        <div class="col-md-10">
                          @Model.Members[i].value
                        </div>
                        <div class="col-md-2 member-edit">
                          <span class="glyphicon glyphicon-remove user-remove member-edit hide" style="cursor: pointer"></span>
                        </div>
                        @Html.HiddenFor(m => m.Members[i].key, new { @class = "iHidden" })
                        @Html.HiddenFor(m => m.Members[i].delete)
                      </div>
                    }
                  </div>

                </div>

              </aside>
            </div>
          </div>
        </div>
      </div>

      @*@using (Html.BeginForm("SaveBusinessProfile", "Profile", FormMethod.Post, new { @class = "", role = "form" }))
      { 
        @Html.HiddenFor(m => m.Id)
          
        *@

      @* <div class="stripe-separator" style="border-top: double; border-bottom: double"></div>
        <a data-toggle="modal" href="#members-window" class="vc_btn btn-small"><i class="glyphicon glyphicon-plus icon-spacing"></i>Members</a>
        *@


      @*
        
        <div class="modal fade" id="members-window" tabindex="-1" role="dialog" aria-labelledby="usersLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <form>
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title">Members</h4>
                </div>
                <div class="modal-body">
                  <input id="userSearch" type="text" class="vc_input-inverse" placeholder="Search members..." />
                  <section id="addedMembers">
                    @for (int i = 0; i < Model.Members.Count; i++)
                    {
                      <div class="row" data-index="@i" data-key="@Model.Members[i].key">
                        <div class="col-md-11">
                          @Model.Members[i].value
                        </div>
                        <div class="col-md-1">
                          <span class="glyphicon glyphicon-remove user-remove" style="cursor: pointer"></span>
                        </div>
                        @Html.HiddenFor(m => m.Members[i].key, new { @class = "iHidden" })
                        @Html.HiddenFor(m => m.Members[i].delete)
                      </div>
                    }
                  </section>

                </div>
                <div class="modal-footer">
                  <button type="button" onclick="closeMembers_OnClick()" class="btn btn-default">Close</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        
      }*@
    </div>
  </div>
</div>

@section scripts {
  <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet" />
  <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>

  <script type="text/javascript">

    var businessProfile = {};

    $(function () {

      function editMode(isEdit) {
        if (isEdit == true) {
          $('.vc_title .btn-cancel,.vc_title .btn-ok').removeClass('hide');
          $('.vc_title .btn-enable').addClass('hide');

          $('.profile-pic').attr('data-edit', 'true');
          $('.profile-pic-container').attr('data-edit', 'true');

          $('.profile-pic-container .edit-picture, .member-edit').removeClass('hide');

          $('.inputEditable').editable('enable');

        } else {
          $('.vc_title .btn-cancel,.vc_title .btn-ok').addClass('hide');
          $('.vc_title .btn-enable').removeClass('hide');

          $('.profile-pic').attr('data-edit', 'false');
          $('.profile-pic-container').attr('data-edit', 'false');

          $('.profile-pic-container .edit-picture, .member-edit').addClass('hide');

          $('.inputEditable').editable('disable');
        }
      }

      function cancelProfile_OnClick() {
        editMode(false);
      }
      businessProfile.cancelProfile_OnClick = cancelProfile_OnClick;

      function saveProfile_OnClick() {
        editMode(false);
      }
      businessProfile.saveProfile_OnClick = saveProfile_OnClick;

      function enableProfile_OnClick() {
        editMode(true);
      }
      businessProfile.enableProfile_OnClick = enableProfile_OnClick;

      function isKeyAlreadyInTable(key) {
        var result = false;
        $('#addedMembers .row').each(function () {
          console.log($(this).attr('data-key') + " :: " + key);
          if ($(this).attr('data-key') == key) {
            result = true;
            return false;
          }
        });
        return result;
      }

      function closeMembers_OnClick() {

        $('#members .row').remove();
        copyColumns('addedMembers', 'members', 0);

        $('#members').css('background-color', 'transparent');
        $('#members-window').modal('hide');
      }

      function copyColumns(srcTableId, targetTableId) {
        var colNos = [].slice.call(arguments, 2),
            $target = $("#" + targetTableId);
        $("#" + srcTableId + " .row").each(function () {
          if ($(this).css('display') != 'none') {
            var $tds = $(this).children(),
                $row = $("<div class='row'></div>");
            for (var i = 0; i < colNos.length; i++)
              $row.append($tds.eq(colNos[i]).clone());
            $row.appendTo($target);
          }
        });
      }

      var typeahead = $('#userSearch').typeahead({
        name: 'accounts',
        remote: {
          url: '@Url.Content("~/Profile/GetUsers")',
          rateLimitWait: 600,
          filter: function (parsedResponse) {
            return parsedResponse;
          },
          replace: function (url, value) {
            return url + '?term=' + value;
          }
        }
      });

      typeahead.on('typeahead:selected', function (evt, data) {

        if (isKeyAlreadyInTable(data.key) == true)
          return false;

        var itemIndex = $("#addedMembers input.iHidden").length;

        var new_row = $(
            '<div class="row" data-index="' + itemIndex + '" data-key="' + data.key + '">' +
                '<div class="col-md-10">' + data.value + '</div>' +
                '<div class="col-md-2"><span class="glyphicon glyphicon-remove user-remove" style="cursor:pointer"></span></div>' +
                '<div style="display:none"><input id="Members_' + itemIndex + '__key" type="hidden" value="' + data.key + '" class="iHidden"  name="Members[' + itemIndex + '].key" /></div>' +
                '<div style="display:none"><input id="Members_' + itemIndex + '__delete" type="hidden" value="' + data.deleted + '" name="Members[' + itemIndex + '].delete" /></div>' +
            '</div>'
            );

        new_row.appendTo($('#addedMembers'));
        $('#userSearch').val('');
      });

      $('#addedMembers').on('click', '.user-remove', function () {
        var itemIndex = $(this).parent().parent().attr('data-index');

        var key = $('#Members_' + itemIndex + '__key');
        $('#Members_' + itemIndex + '__delete').val('true');
        $('#Members_' + itemIndex + '__key').val(-1);

        //$(this).parent().parent().remove();
        $(this).parent().parent().css('display', 'none');
      });

      function applyEditable() {

        @{
          var countryNames = Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(luxbsa.Controllers.Service.CountryAPIController.ListOfCountryNamesByName().Data));
        }

        $('#inputSector').editable({
          disabled: true,
          value: 1, 
          source: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(@Model.Sectors_XEditable.Data)) ,
        });

        $('#inputCountry').editable({
          disabled: true,
          value: 0, 
          source: function() {            
            var tCountryInfoList = @countryNames;
            
            var result = [];
            $.each(tCountryInfoList, function(index, item){
              var xEditableItem = {
                value: index,
                text: item.sName
              }
              result.push(xEditableItem);
            }); 
            return result;
          }
        });

        $('.inputEditable').editable({
          disabled: true
        });
      }

      function onPageLoad() {
        
        applyEditable();
        closeMembers_OnClick();
      }

      function onPageResetSize() {
        $('#business-profile').css('height', $(window).height() - 210)
      }

      businessProfile.onPageLoad = onPageLoad;
      businessProfile.onPageResetSize = onPageResetSize;

    }());

    $(document).ready(function () {
      businessProfile.onPageResetSize();
      businessProfile.onPageLoad();
    });

    $(window).resize(function () {
      businessProfile.onPageResetSize();
    });




  </script>


}

