﻿@model luxbsa.Models.UserModel

@using luxbsa.Models

@{
    ViewBag.Title = "Business Profiles";
}

<div class="wrapper background-2">
  <div class="container">
    <div id="business-profiles">

      <div class="container row vc_title">
        <h3 class="vc_widget-title pull-left">Business Profiles</h3>
        
        <div class="btn-group pull-right">
          <button class="vc-btn btn-small" onclick="location.href='@Url.Action("BusinessProfile","Profile")'">
            <i class="glyphicon glyphicon-plus icon-spacing"></i>Add New Business Profile</button>
        </div>  
      </div>

      <section id="filter-container">
        @foreach (BusinessModel business in Model.Businesses)
        { 
          <figure>
            <a href="@Url.Action("BusinessProfile", "Profile", new { id = business.Id })">
			        <img src="@Url.Content("~/Content/themes/folder/img/dummies/featured/01.jpg")" style="width:100%" alt="alt" />
            </a>
            <figcaption>
				      <a href="@Url.Action("BusinessProfile", "Profile", new { id = business.Id })"><h1 class="heading">@business.Name</h1></a>
              <div>@business.Description</div>
			      </figcaption>
          </figure>
        }
      </section>

    </div>
  </div>
</div>
    
<script>       

  var businessProfiles = {};

  $(function () {

    var $container = $('#filter-container');
    var init = false;

    function onPageLoad() {   
      $container.imagesLoaded(function () {
        $container.isotope({
          itemSelector: 'figure',
          filter: '*',
          resizable: false,
          animationEngine: 'jquery'
        });
        init = true;
      });
    }

    function onPageResetSize() {
      if (init == true) { $container.isotope('reLayout'); }
      $('#business-profiles').css('height', $(window).height() - 210)
    }

    businessProfiles.onPageLoad = onPageLoad;
    businessProfiles.onPageResetSize = onPageResetSize;

  }());

  $(document).ready(function () {
    businessProfiles.onPageResetSize();
    businessProfiles.onPageLoad();
  });

  $(window).resize(function () {
    businessProfiles.onPageResetSize();
  });



</script>
