﻿@using luxbsa.Helpers




@model luxbsa.Models.UserModel

@{
  ViewBag.Title = "User Profile";
}

<div class="wrapper background-2">
  <div class="container">
    <div id="user-profile">

      <div class="container row vc_title">
        <h3 class="vc_widget-title pull-left">User Profile</h3>
        <div class="btn-group pull-right">
          <a class="vc_btn btn-small element-spacing vc_alter-bg-color btn-cancel hide" onclick="userProfile.cancelProfile_OnClick();">
            <i class="glyphicon glyphicon-remove icon-spacing"></i>
            Cancel
          </a>
          <a class="vc_btn btn-small element-spacing btn-ok hide" onclick="userProfile.saveProfile_OnClick();">
            <i class="glyphicon glyphicon-ok icon-spacing"></i>
            Save Changes
          </a>
          <a class="vc_btn btn-small element-spacing btn-enable" onclick="userProfile.enableProfile_OnClick();">
            <i class="glyphicon glyphicon-edit icon-spacing"></i>
            Edit Profile
          </a>
        </div>
      </div>

      <div id="vc_accordion-widget" class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a href="#profile" data-parent="#vc_accordion-widget" data-toggle="collapse" class="accordion-toggle"><i class="fa fa-bookmark"></i>Profile </a>
            </h4>
          </div>
          <div class="panel-collapse in" id="profile" style="height: auto;">
            <div class="panel-body">
              <aside class="col-md-3">
                <div class="pic-container profile-pic-container" data-edit="false">
                  <i class="glyphicon glyphicon-pencil edit-picture hide"></i>
                  <img class="profile-pic" data-edit="false" src="@Url.Content("~/Content/themes/purdila/images/user-placeholder.png")" />
                </div>
              </aside>
              <div class="col-md-6 profile-input">
                <div class="row">
                  <label class="col-md-3" for="inputName">Name</label>
                  <a href="#" class="col-md-8 inputEditable" id="inputName" data-name="@Html.DisplayNameFor(m => m.Firstname)" data-type="text" data-pk="@Model.Id" data-title="Enter firstname">@Model.Firstname</a>
                </div>
                <div class="row">
                  <label class="col-md-3" for="inputSurname">Surname</label>
                  <a href="#" class="col-md-8 inputEditable" id="inputSurname" data-name="@Html.DisplayNameFor(m => m.Surname)" data-type="text" data-pk="@Model.Id" data-title="Enter surname">@Model.Surname</a>
                </div>
                <div class="row">
                  <label class="col-md-3" for="inputGender">Gender</label>
                  <a href="#" class="col-md-8 inputEditable" id="inputGender" data-name="@Html.DisplayNameFor(m => m.Gender)"  data-type="select" data-pk="@Model.Id" data-title="Select gender">@Model.Gender</a>
                </div>
                <div class="row">
                  <label class="col-md-3" for="inputDateOfBirth">Date of Birth</label>
                  <a href="#" class="col-md-8 inputEditable" id="inputDateOfBirth" data-name="@Html.DisplayNameFor(m => m.DateOfBirth)"  data-type="date" data-pk="@Model.Id" data-title="Enter Date of Birth" >@Model.DateOfBirth.Value.ToString("yyyy-mm-dd")</a>
                </div>
                <div class="row">
                  <label class="col-md-3" for="inputEmail">Email Address</label>
                  <a href="#" class="col-md-8 inputEditable" id="inputEmail" data-name="@Html.DisplayNameFor(m => m.Email)"  data-type="text" data-pk="@Model.Id" data-title="Enter Email Address" >@Model.Email</a>
                </div>
                <div class="row">
                  <label class="col-md-3" for="inputAboutMe">About me</label>
                  <a href="#" class="col-md-8 inputEditable" id="inputAboutMe" data-name="@Html.DisplayNameFor(m => m.AboutMe)"  data-type="text" data-pk="@Model.Id" data-title="Enter Email Address" >@Model.AboutMe</a>
                </div>
              </div>
              <aside class="col-md-3 accounts">
                <h4>Accounts</h4>

                <div class="vc_social-share vc_tight vc_inverse">
                  @*<a class="tooltip-trigger twitter" data-original-title="Comming Soon" href="#" data-toggle="modal" data-target="#twitter-modal" id="config-twitter" onclick="userProfile.configureTwitter_OnClick();"><i class="fa fa-twitter"></i></a>*@
                  <a class="tooltip-trigger twitter" data-original-title="Comming Soon" href="#"><i class="fa fa-twitter"></i></a>
                  <a class="tooltip-trigger facebook" data-original-title="Comming Soon" href="#"><i class="fa fa-facebook"></i></a>
                  @*<a class="tooltip-trigger gplus" data-original-title="Gplus" href="#"> <i class=" fa fa-google-plus"></i> </a> 
                  <a class="tooltip-trigger email" data-original-title="email" href="#"> <i class="fa fa-envelope"></i> </a> 
                  <a class="tooltip-trigger linkedin" data-original-title="linkedin" href="#"> <i class="fa fa-linkedin"></i> </a> 
                  <a class="tooltip-trigger rss" data-original-title="Rss" href="#"> <i class="fa fa-rss"></i> </a> 
                  <a class="tooltip-trigger pininterest" data-original-title="Pin Interest" href="#"> <i class="fa fa-pinterest"></i> </a> 
                  <a class="tooltip-trigger youtube" data-original-title="Youtube" href="#"> <i class="fa fa-youtube"></i> </a> 
                  <a class="tooltip-trigger vimeo" data-original-title="Vimeo" href="#"> <i class="fa fa-youtube-play"></i> </a>
                  <a class="tooltip-trigger dribble" data-original-title="Dribble" href="#"> <i class=" fa fa-dribbble"></i> </a> 
                  <a class="tooltip-trigger flickr" data-original-title="FlickR" href="#"> <i class="fa fa-flickr"></i> </a> *@

                </div>

                @*<a href="#" onclick="userProfile.testStream();">Test Stream</a>*@


                <div class="modal fade" id="twitter-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="twitter-modal-label">
                          <i class="fa fa-twitter twitter-color icon-spacing"></i>
                          Twitter Account</h4>
                      </div>
                      <div class="modal-body">
                        <div class="">
                          <a style="width: 100%" id="btn-twitter-auth" class="vc_btn btn-small" data-enable="true" onclick="userProfile.accountTwitter_OnClick(this);">...</a>
                        </div>

                        <fieldset class="configure-account">
                          <legend>Configure</legend>
                          <div class="row">
                            <div class="col-md-5" style="width: 47%">
                              <input id="twitter-business" type="text" value="" placeholder="Add Business (press 'ENTER')" />
                            </div>
                            <div class="col-md-2" style="width: 6%"><i class="fa fa-arrow-right" style="font-size: 1.5em; margin-left: -5px; margin-top: 15px;"></i></div>
                            <div class="col-md-5" style="width: 47%">
                              <input id="twitter-business-tags" type="text" value="" data-role="tagsinput" placeholder="Add Business HashTags  (press 'ENTER')" />
                            </div>
                          </div>
                          <input id="twitter-normal-tags" type="text" value="" data-role="tagsinput" placeholder="Add Normal HashTags  (press 'ENTER')" />
                        </fieldset>
                      </div>
                      <div class="modal-footer">
                        <a class="vc_btn vc_btn-inverse btn-small">Close</a>
                        <a class="vc_btn btn-small">Save Changes</a>
                      </div>
                    </div>
                  </div>
                </div>


              </aside>
            </div>
          </div>
        </div>

      </div>


      <div class="panel panel-default">
        <div class="panel-heading combined-panel">
          <h4 class="panel-title pull-left"><i class="fa fa-comment fa-fw "></i>Diary </h4>
          <div class="btn-group pull-right ">
            <a class="vc_btn btn-mini element-spacing" data-toggle="modal" @*data-target="#diary-entry"*@ onclick="userProfile.openCreateEntry_OnClick();" >
              <i class="fa fa-plus icon-spacing"></i>
              Create Entry
            </a>
          </div>
        </div>
        <div class="" id="diary" style="height: auto;">
          <div class="panel-body">
            <div class="vc_blog-list-mini block">
              <div class="wrapper">
                <div class="col-md-12 mini-image">
                  <div class="vc_splitter"><span class="bg"></span></div>
                  <div class="vc_blog-list"></div>
                  <div class="load-more" style="text-align:center;display:none">
                    <a class="vc_btn btn-small element-spacing btn-enable" onclick="userProfile.loadMoreDiaries_OnClick();">
                      <i class="glyphicon glyphicon-cloud-download"></i>
                      Load More
                    </a>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>



      <!-- Modal Create Diary Entry -->
      <div class="modal fade" id="diary-entry" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel">Create Entry</h4>
            </div>
            <form id="create-entry-form" class="modal-body diary-entry-body">
              <div>
                <aside class="col-md-3">
                  <div class="pic-container diary-pic-container" data-edit="true">
                    <i class="glyphicon glyphicon-pencil edit-picture"></i>
                    <img class="diary-pic" data-edit="true" src="@Url.Content("~/Content/themes/folder/img/dummies/featured/01.jpg")" style="width:100%" />
                  </div>
                </aside>
                <div class="col-md-9">
                  <div class="form-group row">
                    <input id="diary-entry-title" name="diary-entry-title" type="text" value="" class="vc_input-inverse" placeholder="Add Title" />
                  </div>
                  <div class="form-group row">
                    <div class="col-md-6" style="padding-left: 0">
                      <input id="diary-entry-business" type="text" value="" placeholder="Add Business (press 'ENTER')" />
                    </div>
                    <div class="col-md-6" style="padding-right: 0">
                      <input id="diary-entry-tags" type="text" value="" placeholder="Add Tag (press 'ENTER')" />
                    </div>
                  </div>
                  <div class="form-group row">
                    <textarea id="diary-entry-content" name="diary-entry-content" class="vc_input-inverse no-border-radius" placeholder="Add Content"></textarea>
                  </div>
                </div>
              </div>
            </form>
            <div class="modal-footer">
              <a onclick="userProfile.createEntry_OnClick()" class="vc_btn btn-small">Create</a>
            </div>
          </div>
        </div>
      </div>

      <section class="row profile">
      </section>
      <section class="diary">
      </section>
    </div>
  </div>

</div>

@section scripts {


  <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet" />
  <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>

  @* I can haz template *@
  <script id="diary_entry_template" type="text/html">
    <article class="blog-row clearfix">
      <div class="blog-left">
        <div class="vc_anim vc_anim-slide">
          <a href="blog-single.php" class="vc_preview">
            <img alt="example image" src="@Url.Content("~/Content/themes/folder/img/dummies/featured/01.jpg")" @*src="http://vencorp.venmond.com/img/blog/01.jpg"*@>
          </a>
          <div class="vc_hover">
            <div class="hover-wrapper">
              <div class="icon-wrapper">
                <ul>
                  <li class="vc_icon"><a data-rel="prettyPhoto" href="@Url.Content("~/Content/themes/folder/img/dummies/featured/01.jpg")" rel="prettyPhoto"><i class="fa fa-search-plus"></i></a></li>
                  <li class="vc_icon"><a href="blog-single.php"><i class="fa fa-link"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="blog-right">
        <div class="entry-date">
          <div class="day">{{FormatedDateCreated.Day}}</div>
          <div class="month">{{FormatedDateCreated.Month}} {{FormatedDateCreated.Year}}</div>
        </div>
        <div class="title">
          <h3><a href="#">{{Title}} </a></h3>
          <div>
            <span class="taxonomy"><i class="fa fa-suitcase"></i>
              {{#Businesses}}
              <a href="#">{{value}}</a>{{^last}}, {{/last}}
            {{/Businesses}}
            </span>
          </div>
          <div>
            <span class="taxonomy"><i class="fa fa-tags"></i>
              {{#Tags}}
              <a href="#">{{.}}</a>{{^last}}, {{/last}}
            {{/Tags}}
            </span>
          </div>
        </div>
        <div class="description">
          <pre>{{Content}}</pre>
        </div>
      </div>
    </article>
  </script>

  <script src="~/Scripts/jquery.signalR-2.0.2.js"></script>
  <script src="~/signalr/hubs"></script>

  <script>

    var userProfile = {};
    userProfile.diaryStep = 0;

    $(function () {

      function editMode(isEdit) {
        if (isEdit == true) {
          $('.vc_title .btn-cancel,.vc_title .btn-ok').removeClass('hide');
          $('.vc_title .btn-enable').addClass('hide');

          $('.profile-pic').attr('data-edit', 'true');
          $('.profile-pic-container').attr('data-edit', 'true');

          $('.profile-pic-container .edit-picture').removeClass('hide');

          $('.inputEditable').editable('enable');

        } else {
          $('.vc_title .btn-cancel,.vc_title .btn-ok').addClass('hide');
          $('.vc_title .btn-enable').removeClass('hide');

          $('.profile-pic').attr('data-edit', 'false');
          $('.profile-pic-container').attr('data-edit', 'false');

          $('.profile-pic-container .edit-picture').addClass('hide');

          $('.inputEditable').editable('disable');
        }
      }

      function cancelProfile_OnClick() {
        editMode(false);
      }
      userProfile.cancelProfile_OnClick = cancelProfile_OnClick;

      function saveProfile_OnClick() {
        editMode(false);
      }
      userProfile.saveProfile_OnClick = saveProfile_OnClick;

      function enableProfile_OnClick() {
        editMode(true);
      }
      userProfile.enableProfile_OnClick = enableProfile_OnClick;

      
      $("#create-entry-form").validate({
        rules: {
          'diary-entry-title': { required: true },
          'diary-entry-content': { required: true }
        },
        highlight: function (element) {
          $(element).closest('.form-group').addClass('field-validation-error');
        },
        success: function (element) {
          element.closest('.form-group').removeClass('field-validation-error');
        }
      });

      //------------Social Accounts
      //---------------------------

      userProfile.testStream = function() {
        $.ajax({
          url: '@Url.Content("~/TwitterAPI/OpenTwitterStreamForUser")',         
          global: false,
          type: 'POST',
          dataType: 'JSON',
          data: { userId : '@Session[Constants.Instance.KEY_User_Id]'} ,
          success: function(oData) {
            if (oData == true) {
              $('#btn-twitter-auth').html('Disable Twitter');
            } else {
              $('#btn-twitter-auth').html('Enable Twitter');
            }
          },
          error: function(oData) {
            debugger;
          }
        });
      }

      userProfile.configureTwitter_OnClick = function() {
        //showBusy();
        //$('#twitter-modal').modal('show');
      }

      $('#twitter-modal').on('show.bs.modal', function (e) {
        $.ajax({
          url: '@Url.Content("~/UserAPI/IsTwitterValid")',         
          global: false,
          type: 'GET',
          dataType: 'JSON',
          success: function(oData) {
            if (oData == true) {
              $('#btn-twitter-auth').html('Disable Twitter');
            } else {
              $('#btn-twitter-auth').html('Enable Twitter');
            }
          },
          error: function(oData) {
            debugger;
          }
        });
      })

      userProfile.accountTwitter_OnClick = function(caller) {
        var twitterEnable = $(caller).attr('data-enable');
        debugger;
        if (twitterEnable == 'true') {
          var twitterWindow = window.open('','','width=500,height=500');
          $.ajax({
            url: '@Url.Content("~/TwitterAPI/AuthorizeJson")',         
            global: false,
            type: 'POST',
            dataType: 'JSON',
            beforeSend: function () {
              $("#loading").show();
            },
            success: function(oData) {
              twitterWindow.location.assign(oData);
            },
            error: function(oData) {
              debugger;
            },complete: function () { }
          });
        } else {
        
        }
      }

      @*userProfile.notification = $.connection.notificationHub;

      userProfile.notification.client.twitterAuthorizeCallback_SuccessNofication = function () {
        $("#loading").hide();

        var twitterEnable = $('#twitter-auth').attr('data-enable');
        if (twitterEnable == 'true') {
          $('#twitter-auth').val('Disable Twitter');
        } else {
          $('#twitter-auth').val('Enable Twitter');
        }
      };

      userProfile.notification.client.twitterAuthorizeCallback_FailureNofication = function() {
        $("#loading").hide();
      }

      $.connection.hub.start().done(function () {
        var userId = '@Session["User.Id"]';
        userProfile.notification.server.subscribe(userId);
      });*@

      //------------Business TAG
      //------------------------

      function registerBusinessTag(tagInput) {
        tagInput.tagsinput({
          itemValue: 'key',
          itemText: 'value'
        });
        tagInput.tagsinput('input').typeahead({
          remote: {
            url: '@Url.Content("~/BusinessAPI/SearchBusinessTags")',
            rateLimitWait: 600,
            filter: function (parsedResponse) {
              return parsedResponse;
            },
            replace: function (url, value) {
              return url + '?term=' + value;
            }
          }
        }).bind('typeahead:selected', $.proxy(function (obj, datum) {
          tagInput.tagsinput('add', { key: datum.key, value: datum.value});
          tagInput.tagsinput('input').typeahead('setQuery', '');
        }, $('input')));

        tagInput.tagsinput('input').keydown(function (e) {
          if (e.keyCode == 13) {
            tagInput.tagsinput('input').typeahead('setQuery', '');
          }
        });
      }

      registerBusinessTag($('#diary-entry-business'));
      registerBusinessTag($('#twitter-business'));

      //--------------Normal Tags
      //-------------------------

      var diaryEntry_Tags = $('#diary-entry-tags');
      diaryEntry_Tags.tagsinput({
        tagClass: function(item) {
          return 'label label-success';
        }
      });
      diaryEntry_Tags.tagsinput('input').typeahead({
        remote: {
          url: '@Url.Content("~/TagAPI/SearchTags")',
          rateLimitWait: 600,
          filter: function (parsedResponse) {
            return parsedResponse;
          },
          replace: function (url, value) {
            return url + '?term=' + value;
          }
        }
      }).bind('typeahead:selected', $.proxy(function (obj, datum) {
        diaryEntry_Tags.tagsinput('add', datum.value);
        diaryEntry_Tags.tagsinput('input').typeahead('setQuery', '');
      }, $('input')));
      
      diaryEntry_Tags.tagsinput('input').keydown(function (e) {
        if (e.keyCode == 13) {
          diaryEntry_Tags.tagsinput('add', diaryEntry_Tags.tagsinput('input').val().toUpperCase());
          diaryEntry_Tags.tagsinput('input').typeahead('setQuery', '');
        }
      });

      //-------------------------------------

      userProfile.openCreateEntry_OnClick = function() {
        $('#diary-entry').modal('show');
      };

      function createEntry_OnClick() {

        if (!$("#create-entry-form").valid()) { return; }

        var title = $('#diary-entry-title').val();
        var businesses = $("#diary-entry-business").tagsinput('items');
        var tags = $("#diary-entry-tags").tagsinput('items');
        var content = $('#diary-entry-content').val();

        var currentDate = new Date();
        var day = currentDate.getDate().toString();
        var month = (currentDate.getMonth() + 1).toString();
        var year = currentDate.getFullYear().toString();

        var date = {
          Day: (day.length == 1) ? "0" + day : day,
          Month: (month.length == 1)? "0" + month : month,
          Year: year
        };
        
        var entryObject = {
          Title: title,
          Businesses: businesses,
          Tags: tags,
          Content: content,
          DateCreated: new Date().getTime()//date
        }
        
        $.ajax({
          url: '@Url.Content("~/DiaryAPI/AddDiaryEntry")',
          type: 'POST',
          dataType: 'json',
          data: { data : JSON.stringify(entryObject)} ,
          success: function(oData) {            
            var entries = [];
            entries.push(entryObject);

            addToBlogList(entries, false, false);
          },
          error: function(oData) {
            debugger;
          }
        });
           
      $('#diary-entry').modal('hide');
    }
      userProfile.createEntry_OnClick = createEntry_OnClick;

      function addToBlogList(entryObjectList, append, isDateTime) {
        $.each(entryObjectList, function(index, element){
          debugger;

          var tempDate;

          if (isDateTime === true) {
            tempDate = new Date(parseInt(element.DateCreated.substr(6)));  
          } else {
            tempDate = new Date(element.DateCreated);
          }

          var day = tempDate.getDate().toString();
          var month = (tempDate.getMonth() + 1).toString();
          var year = tempDate.getFullYear().toString();

          element.FormatedDateCreated = {
            //Day: (element.DateCreated.IsDaySingleDigit == true) ? "0" + element.DateCreated.Day : element.DateCreated.Day,
            //Month: (element.DateCreated.IsMonthSingleDigit == true)? "0" + element.DateCreated.Month : element.DateCreated.Month,
            Day: (day.length == 1) ? "0" + day : day,
            Month: (month.length == 1) ? "0" + month : month,
            Year: year
          };
          var entry = ich.diary_entry_template(element);
          debugger;
          if (append === true) {
            $('.vc_blog-list').append(entry);
          } else {
            $('.vc_blog-list').prepend(entry);
          }
        });       
        
        $('.description').readmore({
          speed: 75,
          maxHeight: 50,
          moreLink: '<a href="#" class="vc_read-more"> read more </a>',
          lessLink: '<a href="#" class="vc_read-more"> read less </a>',
          embedCSS: false
        });
        $("a[rel^='prettyPhoto']").prettyPhoto();
      }


      var dateFormat = "dd/mm/yy";
      
      function applyEditable() {
        //$.fn.editable.defaults.mode = 'inline';

        $('#inputGender').editable({
          disabled: true,
          value: 0, 
          source: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(@Model.Gender.ToXEditableSelectList().Data)) 
          });

        $('#inputDateOfBirth').editable({
          disabled: true,
          placement: 'bottom',
          datepicker: { //userId: '@Session[Constants.Instance.KEY_User_Id]'
            changeMonth: false,
            changeYear: false,
            yearRange: "c-100:c",
            minDate: "-100y",
            maxDate: 0
          }
        });

        $('.inputEditable').editable({
          disabled: true
        });
      }

      function loadDiaryEntries() {
        var oData = {
          userId: '@Session[Constants.Instance.KEY_User_Id]',
          step: userProfile.diaryStep,
          count: '3'
        }
        
        $.ajax({
          url: '@Url.Content("~/DiaryAPI/GetDiaryEntriesForUser")',
          type: 'POST',
          dataType: 'json',
          data: { data : JSON.stringify(oData)} ,
          success: function(oData) {
            debugger;
            addToBlogList(oData.diaries, true, true);
            
            if (oData.loadmore == true) {
              $('.load-more').show();
            } else {
              $('.load-more').hide();
            }
          },
          error: function(oData) {
            debugger;
          }
        });
      }

      userProfile.loadMoreDiaries_OnClick = function() {
        userProfile.diaryStep++;
        loadDiaryEntries();
      }

      function registerEnvents() {

      }


      function onPageLoad() {
        //$("#inputDateOfBirth").datepicker({
        //  dateFormat: dateFormat,
        //  changeMonth: true,
        //  changeYear: true,
        //  yearRange: "c-100:c",
        //  minDate: "-100y",
        //  maxDate: 0
        //});

        registerEnvents();
        applyEditable();
        loadDiaryEntries();
      }

      function onPageResetSize() {
        $('#user-profile').css('height', $(window).height() - 210)
        
        $('.diary-entry-body').css('height', $(window).height() - 280);
        $('#diary-entry-content').css('height', $(window).height() - 500);
      }

      userProfile.onPageLoad = onPageLoad;
      userProfile.onPageResetSize = onPageResetSize;

    }());

    $(document).ready(function () {
      userProfile.onPageResetSize();
      userProfile.onPageLoad();
    });

    $(window).resize(function () {
      userProfile.onPageResetSize();
    });
  </script>

}
