﻿@model luxbsa.Models.BusinessModel

@{
    ViewBag.Title = "Business Profile";
}

<div class="fl" style="width:900px; margin:0 auto">
    <div class="cf stripe-separator"><!-- --></div>
    <div class="fl" style="position:relative; width:200px">                        
        <p>         
            <div style="border: 1px solid #2a2e36;width:200px;height:200px">
                <p>
                <img src=@Url.Content("~/Content/themes/purdila/images/user-placeholder.png") 
                    style="width:auto;max-width:200px;height:auto;max-height:200px" />
                </p>
            </div>
        </p>
        <p>
            <div style="width:100%">
                <a href="#" class="button round blue image-right ic-edit text-upper" style="width:150px">Edit Profile</a>
            </div>
        </p>
    </div>
</div>
