﻿@{
  ViewBag.Title = "Page Not Found";
}

<div id="error" style="overflow:auto">
  <div class="vc_404-error">
    <div class="wrapper">
      <div class="container">
        <div class="row block">
          <div class="vc_error-page text-center">
            <img style="margin-left: auto;margin-right: auto;" class="logo" src="@Url.Content("~/Content/img/logo/logo_original.png")" />
            <p class="info">Whoops... Page Not Found</p>
            <h1 class="vc_main-color"><i class="fa fa-cog"></i>404</h1>
            <p>
              Your requested page could not be found or it is currently unavailable.<br />
            </p>
          </div>
        </div>
        <!-- .row -->
      </div>
      <!-- .container -->
    </div>
    <!-- .wrapper -->
  </div>
  <!-- .vc_404-error -->
</div>

@section scripts{

  <script type="text/javascript">
    var error = {};

    (function () {
      function onPageLoad() { }

      function onPageResetSize() {
        $('#error').css('height', $(window).height() - 78);
      }

      error.onPageLoad = onPageLoad;
      error.onPageResetSize = onPageResetSize;

    }());

    $(document).ready(function () {
      error.onPageResetSize();
      error.onPageLoad();
    });

    $(window).resize(function () {
      error.onPageResetSize();
    });

  </script>
}
