﻿<!DOCTYPE html>
<html>
<head>
  @Html.Partial("_Head")
  @*@Styles.Render("~/StyleBundle/css")*@
</head>
@* style="background-color: #2a2e36"    class="clearfix" data-smooth-scrolling="1"    *@
<body class="clearfix background-2" data-smooth-scrolling="1">

  <!-- Busy Indicator -->
  <div id="loading" class="alpha">
    <img src="../../Content/img/busy.gif" alt="" />
  </div>

  <div class="vc_body">
    @RenderBody()


    @Scripts.Render("~/js/Global")
    @Scripts.Render("~/js/Specific/MetroSlider")

    <script src="~/Scripts/jquery.signalR-2.0.2.js"></script>
    <script src="~/signalr/hubs"></script>

    @Html.Partial("_GlobalPartial")

    @Html.Partial("_FooterPartial")

    @RenderSection("scripts", required: false)
  </div>

  @*<a class="back-top visible" href="#" id="back-top"><i class="fa fa-chevron-up icon-white"></i></a>*@





</body>


</html>
