﻿<footer class="footer-2 mode-3">
  <div class="vc_bottom background-10">
    <div class="wrapper">
      <div class="container">
        <div class="vc_footer-line"> </div>
        <div class="bg">
          <div class="row">
            <div class=" col-sm-12 col-md-6">
              <div class="copyright pull-left">
                <h5> Copyright &copy;2014 LUX-BSA (PTY) LTD. All Rights Reserved </h5>
              </div>
            </div>
            <div class="col-sm-12 col-md-6">
              <div class="menu pull-right"> 
                <a href="#"> FAQ </a> 
                <a href="#"> Contact </a>                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
