﻿<!-- Footer Start -->
<footer class="footer-2 mode-1 background-2" id="footer">
  @*<div class="vc_footer-links">
    <div class="wrapper">
      <div class="container">
        <div class="footer-widget widget col-md-6">
          <a class="twitter-timeline" href="https://twitter.com/LUXBSA" data-widget-id="450992286025793536">Tweets by LUXBSA</a>
          <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
        </div>

        <div id="vc_footer-about-mini" class="footer-widget widget col-md-6">
          <div class="vc_about" style="font-size: 1.1em">
            <h3>About LUX-BSA </h3>
            <p>The purpose of LUX-BSA is to offer both information needed by trading companies, investors, importers/exporters or NGOs as well as a platform to show some of Africa’s greatest achievers. <a href="#" class="vc_read-more" onclick="footer.learnMore_OnClick();">Lean More</a></p>
            <div><i class="fa fa-envelope vc_main-color icon-spacing"></i><span>info@luxbsa.com</span></div>
          </div>
          <div id="vc_footer-social-rounded" class="footer-widget widget" style="margin-top: 20px">
            <h3>Follow Us</h3>
            <div class="vc_social-share vc_inverse vc_rounded">
              <a title="Twitter" class="twitter" href="https://twitter.com/intent/user?screen_name=luxbsa" data-show-count="false"><i class="fa fa-twitter"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>*@

  <div class="vc_bottom background-10">
    <div class="wrapper">
      <div class="container">
        <div class="vc_footer-line"></div>
        <div class="bg">
          <div class="row">
            <div class=" col-sm-12 col-md-6">
              <div class="copyright pull-left">
                <h5>Copyright &copy;2014 LUX-BSA (PTY) LTD. All Rights Reserved --- <span><a href="javascript:void(0)" onclick="footer.terms_OnClick();">Terms & Conditions</a></span></h5>
              </div>
            </div>
            <div class="col-sm-12 col-md-6">
              <div class="menu pull-right">
                @*<a href="#">FAQ </a>*@
                <a href="javascript:void(0)" onclick="footer.contact_OnClick();">Contact Us</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="contact-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 id="message_box-header">Contact Us</h4>
        </div>
        <form id="contact-form" class="modal-body row">
          <div class="col-md-4">
            <div class="form-group">
              <input id="contact-name" name="Name" type="text" placeholder="* Name" class="vc_input-inverse">
              <span class="help-inline">Please enter your name</span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <input id="contact-email" name="Email" type="text" placeholder="* Email Address" class="vc_input-inverse">
              <span class="help-inline">Please enter your email</span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <select id="contact-reason" class="valid vc_input-inverse">
                <option value="0">General Enqury</option>
                <option value="1">Complaint</option>
                <option value="2">Technical Fault</option>
                <option value="3">Suggestion</option>
                <option value="4">Other</option>
              </select>
              <span class="help-inline">Please select a reason</span>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <input id="contact-subject" name="Subject" type="text" placeholder="* Subject" class="vc_input-inverse">
              <span class="help-inline">Please enter the subject</span>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <textarea id="contact-message" name="Message" rows="10" placeholder="Message" class="vc_input-inverse"></textarea>
              <span class="help-inline">Message</span>
            </div>
          </div>
          <div class="clearfix"></div>
        </form>
        <div class="modal-footer">
          <a class="vc_btn vc_btn-inverse btn-small" data-dismiss="modal">Cancel</a>
          <a class="vc_btn btn-small" onclick="footer.sendContactUsMessage_OnClick();">Send Message</a>
        </div>
      </div>
    </div>
  </div>

  <script id="termsContent" type="text/html">
    <div class="form-group-lg">
      These Terms & Condition ("<b>Terms</b>") govern your access to and use of the services, including our various websites, SMS, APIs, email notifications, applications, buttons, and widgets, (the "<b>Services</b>" or "<b>LUX-BSA</b>"), and any information, text, graphics, photos or other materials uploaded, downloaded or appearing on the Services (collectively referred to as "<b>Content</b>"). Your access to and use of the Services are conditioned on your acceptance of and compliance with these Terms. By accessing or using the Services you agree to be bound by these Terms.
    </div>
    <ol>
      <li>
        <div class="form-group-lg">
          <h5>Privacy</h5>
          <p>Your privacy is very important to us. We designed our <a href="javascript:void(0)" onclick="footer.terms_DataPolicy_OnClick();">Data Use Policy</a> to make important disclosures about how you can use LUX-BSA to share with others and how we collect and can use your content and information.  We encourage you to read the Data Use Policy, and to use it to help you make informed decisions.</p>
        </div>
      </li>
      <li>
        <div class="form-group-lg">
          <h5>Sharing Your Content and Information</h5>
          <p>You own all of the content and information you post on LUX-BSA, and you can control how it is shared. In addition:</p>
          <ol>
            <li>For content that is covered by intellectual property rights, like photos and videos (IP content), you specifically give us the following permission, subject to your privacy: you grant us a non-exclusive, transferable, sub-licensable, royalty-free, worldwide license to use any IP content that you post on or in connection with LUX_BSA (IP License).This IP License ends when you delete your IP content or your account unless your content has been shared with others, and they have not deleted it.</li>
            <li>When you delete IP content, it is deleted in a manner similar to emptying the recycle bin on a computer. However, you understand that removed content may persist in backup copies for a reasonable period of time (but will not be available to others).</li>
            <li>When you use an application, the application may ask for your permission to access your content and information as well as content and information that others have shared with you.  We require applications to respect your privacy, and your agreement with that application will control how the application can use, store, and transfer that content and information.</li>
            <li>When you publish content or information using the Public setting, it means that you are allowing everyone, including people off of LUX-BSA, to access and use that information, and to associate it with you (i.e., your name and profile picture).</li>
            <li>We always appreciate your feedback or other suggestions about LUX-BSA, but you understand that we may use them without any obligation to compensate you for them (just as you have no obligation to offer them).</li>
          </ol>
        </div>
      </li>
      <li>
        <div class="form-group-lg">
          <h5>Safety</h5>
          <p>We do our best to keep LUX-BSA safe, but we cannot guarantee it. We need your help to keep LUX-BSA safe, which includes the following commitments by you:</p>
          <ol>
            <li>You will not post unauthorized commercial communications (such as spam) on LUX-BSA.</li>
            <li>You will not collect users' content or information, or otherwise access LUX-BSA, using automated means (such as harvesting bots, robots, spiders, or scrapers) without our prior permission.</li>
            <li>You will not engage in unlawful multi-level marketing, such as a pyramid scheme, on LUX-BSA.</li>
            <li>You will not upload viruses or other malicious code.</li>
            <li>You will not solicit login information or access an account belonging to someone else.</li>
            <li>You will not bully, intimidate, or harass any user.</li>
            <li>You will not post content that: is hate speech, threatening, or pornographic; incites violence; or contains nudity or graphic or gratuitous violence.</li>
            <li>You will not develop or operate a third-party application containing alcohol-related, dating or other mature content (including advertisements) without appropriate age-based restrictions.</li>
            <li>You will follow all applicable laws if you publicize or offer any contest, giveaway, or sweepstakes ("promotion") on LUX-BSA.</li>
            <li>You will not use LUX-BSA to do anything unlawful, misleading, malicious, or discriminatory.</li>
            <li>You will not do anything that could disable, overburden, or impair the proper working or appearance of LUX-BSA, such as a denial of service attack or interference with page rendering or other LUX-BSBA functionality.</li>
            <li>You will not facilitate or encourage any violations of this Statement or our policies.</li>
          </ol>
        </div>
      </li>
      <li>
        <div class="form-group-lg">
          <h5>Registration and Account Security</h5>
          <p>LUX-BSA users provide their real names and information, and we need your help to keep it that way. Here are some commitments you make to us relating to registering and maintaining the security of your account:</p>
          <ol>
            <li>You will not provide any false personal information on LUX-BSA, or create an account for anyone other than yourself without permission.</li>
            <li>You will not create more than one personal account.</li>
            <li>If we disable your account, you will not create another one without our permission.</li>
            <li>You will not use LUX-BSA if you are under 13.</li>
            <li>You will not use LUX-BSA if you are a convicted sex offender.</li>
            <li>You will keep your contact information accurate and up-to-date.</li>
            <li>ou will not share your password (or in the case of developers, your secret key), let anyone else access your account, or do anything else that might jeopardize the security of your account.</li>
            <li>You will not transfer your account to anyone without first getting our written permission.</li>
            <li>If you select a username or similar identifier for your account, we reserve the right to remove or reclaim it if we believe it is appropriate (such as when a trademark owner complains about a username that does not closely relate to a user's actual name).</li>
          </ol>
        </div>
      </li>
      <li>
        <div class="form-group-lg">
          <h5>Protecting Other People's Rights</h5>
          <p>We respect other people's rights, and expect you to do the same.</p>
          <ol>
            <li>You will not post content or take any action on LUX-BSA that infringes or violates someone else's rights or otherwise violates the law.</li>
            <li>We can remove any content or information you post on LUX-BSA if we believe that it violates this Statement or our policies.</li>
            <li>If we remove your content for infringing someone else's copyright, and you believe we removed it by mistake, we will provide you with an opportunity to appeal.</li>
            <li>If you repeatedly infringe other people's intellectual property rights, we will disable your account when appropriate.</li>
            <li>You will not use our copyrights or trademarks (including LUX-BSA, Logos), or any confusingly similar marks, except as expressly permitted.</li>
            <li>If you collect information from users, you will: obtain their consent, make it clear you (and not LUX-BSA) are the one collecting their information, and post a privacy policy explaining what information you collect and how you will use it.</li>
          </ol>
        </div>
      </li>
      <li>
        <div class="form-group-lg">
          <h5>About Advertisements and Other Commercial Content Served or Enhanced by LUX-BSA</h5>
          <p>Our goal is to deliver advertising and other commercial or sponsored content that is valuable to our users and advertisers. In order to help us do that, you agree to the following:</p>
          <ol>
            <li>You give us permission to use your name, profile picture, content, and information in connection with commercial, sponsored, or related content (such as a brand you like) served or enhanced by us. This means, for example, that you permit a business or other entity to pay us to display your name and/or profile picture with your content or information, without any compensation to you. If you have selected a specific audience for your content or information, we will respect your choice when we use it.</li>
            <li>We do not give your content or information to advertisers without your consent.</li>
            <li>You understand that we may not always identify paid services and communications as such.</li>
          </ol>
        </div>
      </li>
      <li>
        <div class="form-group-lg">
          <h5>Special Provisions Applicable to Advertisers</h5>
          <p>You can target your desired audience by buying ads on LUX-BSA or our publisher network. The following additional terms apply to you if you place an order:</p>
          <ol>
            <li>When you place an Order, you will tell us the type of advertising you want to buy, the amount you want to spend, and your bid. If we accept your Order, we will deliver your ads as inventory becomes available. When serving your ad, we do our best to deliver the ads to the audience you specify, although we cannot guarantee in every instance that your ad will reach its intended target.</li>
            <li>In instances where we believe doing so will enhance the effectiveness of your advertising campaign, we may broaden the targeting criteria you specify.</li>
            <li>You will pay for your Orders in accordance with our "Payments Terms". The amount you owe will be calculated based on our tracking mechanisms.</li>
            <li>We will determine the size, placement, and positioning of your ads.</li>
            <li>We do not guarantee the activity that your ads will receive, such as the number of clicks your ads will get.</li>
            <li>We cannot control how clicks are generated on your ads. We have systems that attempt to detect and filter certain click activity, but we are not responsible for click fraud, technological issues, or other potentially invalid click activity that may affect the cost of running ads.</li>
            <li>You can cancel your Order at any time through our online portal, but it may take up to 24 hours before the ad stops running.  You are responsible for paying for all ads that run.</li>
            <li>Our license to run your ad will end when we have completed your Order. You understand, however, that if users have interacted with your ad, your ad may remain until the users delete it.</li>
            <li>We can use your ads and related content and information for marketing or promotional purposes.</li>
            <li>You will not issue any press release or make public statements about your relationship with LUX-BSA without our prior written permission.</li>
            <li>We may reject or remove any ad for any reason.</li>
            <li>If you are placing ads on someone else's behalf, you must have permission to place those ads, including the following:
              <ol>
                <li>You warrant that you have the legal authority to bind the advertiser to this Statement.</li>
                <li>You agree that if the advertiser you represent violates this Statement, we may hold you responsible for that violation.</li>
              </ol>
            </li>
          </ol>
        </div>
      </li>
      <li>
        <div class="form-group-lg">
          <h5>Amendments</h5>
          <ol>
            <li>Unless we make a change for legal or administrative reasons, or to correct an inaccurate statement, we will provide you with seven (7) days notice</li>
            <li>Your continued use of LUX-BSA following changes to our terms constitutes your acceptance of our amended terms.</li>
          </ol>
        </div>
      </li>
      <li>
        <div class="form-group-lg">
          <h5>Termination</h5>
          <p>If you violate the letter or spirit of this Statement, or otherwise create risk or possible legal exposure for us, we can stop providing all or part of LUX-BSA to you. We will notify you by email or at the next time you attempt to access your account. You may also delete your account or disable your application at any time. In all such cases, this Statement shall terminate.</p>
        </div>
      </li>
      <li>
        <div class="form-group-lg">
          <h5>Disputes</h5>
          <ol>
            <li>If anyone brings a claim against us related to your actions, content or information on LUX-BSA, you will indemnify and hold us harmless from and against all damages, losses, and expenses of any kind (including reasonable legal fees and costs) related to such claim. Although we provide rules for user conduct, we do not control or direct users' actions on LUX-BSA and are not responsible for the content or information users transmit or share on LUX-BSA. We are not responsible for any offensive, inappropriate, obscene, unlawful or otherwise objectionable content or information you may encounter on LUX-BSA. We are not responsible for the conduct, whether online or offline, or any user of LUX-BSA.</li>
            <li>WE TRY TO KEEP LUX-BSA UP, BUG-FREE, AND SAFE, BUT YOU USE IT AT YOUR OWN RISK. WE ARE PROVIDING LUX-BSA AS IS WITHOUT ANY EXPRESS OR IMPLIED WARRANTIES INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT. WE DO NOT GUARANTEE THAT LUX-BSA WILL ALWAYS BE SAFE, SECURE OR ERROR-FREE OR THAT LUX-BSA WILL ALWAYS FUNCTION WITHOUT DISRUPTIONS, DELAYS OR IMPERFECTIONS. LUX-BSA IS NOT RESPONSIBLE FOR THE ACTIONS, CONTENT, INFORMATION, OR DATA OF THIRD PARTIES, AND YOU RELEASE US, OUR DIRECTORS, OFFICERS, EMPLOYEES, AND AGENTS FROM ANY CLAIMS AND DAMAGES, KNOWN AND UNKNOWN, ARISING OUT OF OR IN ANY WAY CONNECTED WITH ANY CLAIM YOU HAVE AGAINST ANY SUCH THIRD PARTIES.WE WILL NOT BE LIABLE TO YOU FOR ANY LOST PROFITS OR OTHER CONSEQUENTIAL, SPECIAL, INDIRECT, OR INCIDENTAL DAMAGES ARISING OUT OF OR IN CONNECTION WITH THIS STATEMENT OR LUX-BSA, EVEN IF WE HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.</li>
          </ol>
        </div>
      </li>
      <li>
        <div class="form-group-lg">
          <h5>Special Provisions Applicable to Users Outside the United States</h5>
          <p>We strive to create a global community with consistent standards for everyone, but we also strive to respect local laws. The following provisions apply to users and non-users who interact with LUX-BSA outside the South Africa:</p>
          <ol>
            <li>You consent to having your personal data transferred to and processed in the South Africa.</li>
          </ol>
        </div>
      </li>
      <li>
        <div>
          <h5>Other</h5>
          <ol>
            <li>This Statement makes up the entire agreement between the parties regarding LUX-BSA, and supersedes any prior agreements.</li>
            <li>If any portion of this Statement is found to be unenforceable, the remaining portion will remain in full force and effect.</li>
            <li>If we fail to enforce any of this Statement, it will not be considered a waiver.</li>
            <li>Any amendment to or waiver of this Statement must be made in writing and signed by us.</li>
            <li>You will not transfer any of your rights or obligations under this Statement to anyone else without our consent.</li>
            <li>All of our rights and obligations under this Statement are freely assignable by us in connection with a merger, acquisition, or sale of assets, or by operation of law or otherwise.</li>
            <li>Nothing in this Statement shall prevent us from complying with the law.</li>
            <li>This Statement does not confer any third party beneficiary rights.</li>
            <li>We reserve all rights not expressly granted to you.</li>
            <li>You will comply with all applicable laws when using or accessing LUX-BSA.</li>
          </ol>
        </div>
      </li>
    </ol>

  </script>

  <script id="termsDataContent" type="text/html">
    <div style="margin-bottom: 80px">
      <h4 class="form-group-lg" style="margin-top: 5px;">Information Collection and Use</h4>
      <ol>
        <li>
          <div class="form-group-lg">
            <h5>Information Collected Upon Registration</h5>
            <p>When you create or reconfigure a LUX-BSA account, you provide some personal information, such as your name, username, password, and email address. Some of this information, for example, your name and username, is listed publicly on our Services, including on your profile page and in search results. Some Services, such as search, public user profiles and viewing lists, do not require registration.</p>
          </div>
        </li>
        <li>
          <div class="form-group-lg">
            <h5>Additional Information</h5>
            <p>You may provide us with profile information to make public, such as a short biography, your location, your website, or a picture. You may provide information to customize your account, such as a cell phone number for the delivery of SMS messages. We may use your contact information to send you information about our Services or to market to you. You may use your account settings to unsubscribe from notifications from LUX-BSA. You may also unsubscribe by following the instructions contained within the notification or the instructions on our website. We may use your contact information to help others find your LUX-BSA account, including through third-party services and client applications. Your privacy settings control whether others can find you by your email address or cell phone number. You may choose to upload your address book so that we can help you find LUX-BSA users you know. We may later suggest people to follow on LUX-BSA based on your imported address book contacts, which you can delete from LUX-BSA at any time. If you email us, we may keep your message, email address and contact information to respond to your request. If you connect your LUX-BSA account to your account on another service in order to cross-post between LUX-BSA and that service, the other service may send us your registration or profile information on that service and other information that you authorize. This information enables cross-posting, helps us improve the Services, and is deleted from LUX-BSA within a few weeks of your disconnecting from LUX-BSA your account on the other service.</p>
          </div>
        </li>
        <li>
          <div class="form-group-lg">
            <h5>Public Information</h5>
            <p>Our Services are primarily designed to help you share information with the world. Most of the information you provide us is information you are asking us to make public.Our default is almost always to make the information you provide public for as long as you do not delete it from LUX-BSA, but we generally give you settings to make the information more private if you want. Your public information is broadly and instantly disseminated. When you share information or content like photos, videos, and links via the Services, you should think carefully about what you are making public.</p>
          </div>
        </li>
        <li>
          <div class="form-group-lg">
            <h5>Links</h5>
            <p>LUX-BSA may keep track of how you interact with links across our Services, including our email notifications, third-party services, and client applications, by redirecting clicks or through other means. We do this to help improve our Services, to provide more relevant advertising, and to be able to share aggregate click statistics such as how many times a particular link was clicked on.</p>
          </div>
        </li>
        <li>
          <div class="form-group-lg">
            <h5>Cookies</h5>
            <p>Like many websites, we use cookies and similar technologies to collect additional website usage data and to improve our Services, but we do not require cookies for many parts of our Services such as searching and looking at public user profiles or lists. A cookie is a small data file that is transferred to your computer's hard disk. LUX-BSA may use both session cookies and persistent cookies to better understand how you interact with our Services, to monitor aggregate usage by our users and web traffic routing on our Services, and to customize and improve our Services. Most Internet browsers automatically accept cookies. You can instruct your browser, by changing its settings, to stop accepting cookies or to prompt you before accepting a cookie from the websites you visit. However, some Services may not function properly if you disable cookies.</p>
          </div>
        </li>
        <li>
          <div class="form-group-lg">
            <h5>Log Data</h5>
            <p>Our servers automatically record information ("Log Data") created by your use of the Services. Log Data may include information such as your IP address, browser type, operating system, the referring web page, pages visited, location, your mobile carrier, device and application IDs, search terms, and cookie information. We receive Log Data when you interact with our Services. LUX-BSA uses Log Data to provide our Services and to measure, customize, and improve them.</p>
          </div>
        </li>
        <li>
          <div>
            <h5>Third-Parties</h5>
            <p>LUX-BSA uses a variety of third-party services to help provide our Services, such as hosting our various blogs and wikis, and to help us understand the use of our Services. These third-party service providers may collect information sent by your browser as part of a web page request, such as cookies or your IP address. Third-party ad partners may share information with us, like a browser cookie ID or cryptographic hash of a common account identifier (such as an email address), to help us measure ad quality and tailor ads.</p>
          </div>
        </li>
      </ol>
    </div>
    <div style="margin-bottom: 80px">
      <h4 class="form-group-lg">Information Sharing and Disclosure</h4>
      <ol>
        <li>
          <div>
            <h5>Your Consent</h5>
            <p>We may share or disclose your information at your direction, such as when you authorize a third-party web client or application to access your LUX-BSA account.</p>
          </div>
        </li>
        <li>
          <div>
            <h5>Service Providers</h5>
            <p>We engage service providers to perform functions and provide services to us. We may share your private personal information with such service providers subject to confidentiality obligations consistent with this Privacy Policy, and on the condition that the third parties use your private personal data only on our behalf and pursuant to our instructions.</p>
          </div>
        </li>
        <li>
          <div>
            <h5>Law and Harm</h5>
            <p>Notwithstanding anything to the contrary in this Policy, we may preserve or disclose your information if we believe that it is reasonably necessary to comply with a law, regulation or legal request; to protect the safety of any person; to address fraud, security or technical issues; or to protect LUX-BSA's rights or property. However, nothing in this Privacy Policy is intended to limit any legal defenses or objections that you may have to a third party’s, including a government’s, request to disclose your information.</p>
          </div>
        </li>
        <li>
          <div>
            <h5>Business Transfers</h5>
            <p>In the event that LUX-BSA is involved in a bankruptcy, merger, acquisition, reorganization or sale of assets, your information may be sold or transferred as part of that transaction. The promises in this Privacy Policy will apply to your information as transferred to the new entity.</p>
          </div>
        </li>
        <li>
          <div>
            <h5>Non-Private or Non-Personal Information</h5>
            <p>We may share or disclose your non-private, aggregated or otherwise non-personal information, such as your public user profile information, the people you follow or that follow you, or the number of users who clicked on a particular link.</p>
          </div>
        </li>
      </ol>
    </div>
    <div style="margin-bottom: 80px">
      <h4 class="form-group-lg">Modifying Your Personal Information</h4>
      <p>If you are a registered user of our Services, we provide you with tools and account settings to access or modify the personal information you provided to us and associated with your account.</p>
      <p>You can also permanently delete your LUX-BSA account. For up to 30 days after deactivation it is still possible to restore your account if it was accidentally or wrongfully deactivated. After 30 days, we begin the process of deleting your account from our systems, which can take up to a week.</p>
    </div>
  </script>

  <script id="aboutUsContent" type="text/html">
    <div class="form-group-lg">
      <h5>Introduction</h5>
      <p>The purpose of LUX-BSA is to offer both information needed by trading companies, investors, importers/exporters or NGOs as well as a platform to show some of Africa’s greatest achievers</p>
      <p>This network develops business relationships through its social networking platform.</p>
    </div>
    <div class="form-group-lg">
      <h5>Opportunity</h5>
      <p>With a majority of African Countries calling for increased Intra African trade and investing heavily in their communications infrastructure and understanding that this infrastructure is necessary in a rapidly evolving Africa and world</p>
      <p>Herein lies the opportunity to do things differently and innovatively in assisting to further stimulate the efforts already existing to increase Intra African trade using the internet as the preferred method of penetration into connecting the relevant parties as investment in internet connectivity in most African countries has become a priority, as opposed to the old fashion way of trying to facilitate Intra African trade which has been fairly successful but not nearly near enough.</p>
    </div>
    <div class="form-group-lg">
      <h5>Concept</h5>
      <p>LUX BSA creates a newer more innovative pathway for the relevant parties who will directly and indirectly benefit from increased Intra African trade</p>
      <p>Recognising this new and mostly unexplored market opening up in the African market LUX BSA (PTY) Ltd creates an online business network to cater directly to this mostly untapped market which will alter the way every sector in every economy across Africa will interact and trade information, minerals, skills, and contacts to further the pan African movement</p>
      <p>Integrating services and content will assist the client to have a full investment criterion including a specific business culture and taboos of other African countries.</p>
      <p>Our unique approach to providing up to date information on the African investment climate while having the same relevant people that control the very same climate on a single platform will transform online businesses and will firstly assist to build a continental community of stakeholders that will actively assist in changing the African climate then the Global climate.</p>
    </div>
    <div class="form-group-lg">
      <h5 style="display: inline">Products and Services</h5>
      <i>(in developement)</i>
      <ul>
        <li>
          <b><u>Networked Registry Services</u></b>
          <div>LUX-BSA provides the public, private, NGO, NPO sectors with invaluable information and networking opportunities.</div>
        </li>
        <li>
          <b><u>Data Tracking, Reporting</u></b>
          <div>Our enhanced data on African business will serve as valuable data to our users’ strategic entry into Africa and the Rest of The World.</div>
        </li>
        <li>
          <b><u>Investment finder</u></b>
          <div>A unique feature to the network, this function allows an investor to track progressions and data that is necessary to analyse potential investment, example financial statements, project initiatives, company growth rate, current and projected turnover.</div>
        </li>
        <li>
          <b><u>New Market Finder</u></b>
          <div>This feature provides unique mathematical methods to articulate potential markets in a specific area or place. The combination of the GDP rate for the past five years, current market value of resource, amount of resource to be exploited along with the EPM (economic performance measurement), production possibilities to define the potential Revenue to be made. the measurements might constantly alter in the result of inflation rates and the continuous change of financial market.</div>
        </li>
        <li>
          <b><u>Status Request search</u></b>
          <div>This feature is different from the traditional status update, The user will fill in a status and depending on what is being typed e.g. hotel, the system will automatically search for every surrounding accommodation in the area.</div>
        </li>
      </ul>
    </div>
  </script>

</footer>
<!-- Footer END -->



<script>
  var footer = {};
  (function () {

    footer.terms_OnClick = function () {
      global.showMessageBox(ich.termsContent({}, true), 'Terms & Conditions', 'modal-lg', true, null, true);
    }

    footer.terms_DataPolicy_OnClick = function () {
      global.showMessageBox(ich.termsDataContent({}, true), 'Terms & Conditions - Data Use Policy', 'modal-lg', true);
    }

    footer.learnMore_OnClick = function () {
      global.showMessageBox(ich.aboutUsContent({}, true), 'About Lux Bsa', 'modal-lg', true);
    }

    footer.contact_OnClick = function () {
      $('#message_box-modal').modal('hide');
      $('#contact-modal').modal('show');
    }

    $("#contact-form").validate({
      rules: {
        'Name': { required: true },
        'Email': { required: true, email: true },
        'Subject': { required: true },
        'Message': { required: true },
      },
      highlight: function (element) {
        $(element).closest('.form-group').addClass('field-validation-error');
      },
      success: function (element) {
        element.closest('.form-group').removeClass('field-validation-error');
      }
    });

    footer.sendContactUsMessage_OnClick = function () {
      if (!$("#contact-form").valid()) { return; }

      var oData = {
        Name: $('#contact-name').val(),
        Email: $('#contact-email').val(),
        Reason: $('#contact-reason').val(),
        Subject: $('#contact-subject').val(),
        Message: $('#contact-message').val()
      };

      $.ajax({
        url: '@Url.Content("~/ContactAPI/SendMessage")',
        type: 'POST',
        dataType: 'JSON',
        data: { data: JSON.stringify(oData) },
        success: function (oData) {
          $('#contact-modal').modal('hide');
          global.showSimpleMessageBox('Your message has been sent. You shall be notified shortly. <br /><br />Thank You.', 'Message Sent', null, false, { Success: true });
        },
        error: function (oData) {
          debugger;
        }
      });

    }


  }());
</script>

