﻿

<div id="message_box-modal" class="modal fade" tabindex="-1" role="dialog">
</div>

<!-- Notification Modal -->
<script id="message_box" type="text/html">
  <div class="modal-dialog {{ModalType}}">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4>{{Title}}</h4>
      </div>
      <div class="modal-body row">
        <div class="col-md-4">
          <div class="form-group">
            <img class="logo" src="@Url.Content("~/Content/img/logo/logo_original.png")" />
            <i>Connecting every small, medium and large sized corporation in Africa by stretching all obtained information and technology to the rest of the undeveloped but potential regions.</i>
          </div>
          <div class="form-group">
            <ul>
              <li><a href="javascript:void(0)" onclick="footer.contact_OnClick();">Contact Us</a></li>
              {{^Terms}}<li><a href="javascript:void(0)" onclick="footer.terms_OnClick();">Terms & Conditions</a></li>{{/Terms}}
            </ul>
          </div>
        </div>
        <div class="col-md-8 modal-body-height-auto message_box-content
          {{#AlertType.Success}}alert alert-success{{/AlertType.Success}}
          {{#AlertType.Danger}}alert alert-danger{{/AlertType.Danger}}">
          {{{Content}}}
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="modal-footer">
        <a class="vc_btn vc_btn-inverse btn-small" data-dismiss="modal">Close</a>
      </div>
    </div>
  </div>
</script>

<script id="simple_message_box" type="text/html">
  <div class="modal-dialog {{ModalType}}">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4>{{Title}}</h4>
      </div>
      <div class="modal-body">        
        <div 
          class="modal-body-height-auto message_box-content clearfix 
          {{#AlertType.Success}}alert alert-success{{/AlertType.Success}}
          {{#AlertType.Danger}}alert alert-danger{{/AlertType.Danger}}" >
          {{{Content}}}
        </div>
      </div>
      <div class="modal-footer">
        <a class="vc_btn vc_btn-inverse btn-small" data-dismiss="modal">Close</a>
      </div>
    </div>
  </div>
</script>

<script>
  var global = {};

  (function () {
    global.showBusy = function () {
      $("#loading").show();
    }

    global.hideBusy = function () {
      $("#loading").hide();
    }

    $.ajaxSetup({
      beforeSend: function () {
        global.showBusy();
      },
      complete: function () {
        global.hideBusy();
      },
      error: function (oData) {
        $('.modal').modal('hide');
        global.hideBusy();
        global.showSimpleMessageBox('Oops..! An error has occured. <br /> Please <a href="javascript:void(0)" onclick="footer.contact_OnClick();">click here</a> to contact us. <br /><br /> Thank you', 'LUX-BSA ERROR!', null, false, { Danger: true });
      }
    });

    var _maxHeight;
    function messageBox(messageBox, maxHeight) {
      global.expandModalHeight = maxHeight;
      $('#message_box-modal').html(messageBox)
      $('#message_box-modal').modal('show');

      if (global.expandModalHeight == true) {
        $('.message_box-content').css('height', $(window).height() - 250);
      }
    }

    global.showMessageBox = function (content, title, modalType, maxHeight, alertType, terms) {
      debugger;
      var template = {
        Title: title,
        Content: content,
        ModalType: modalType,
        AlertType: alertType,
        Terms: terms === true ? terms : false
      }      
      var messageBoxTeplate = ich.message_box(template, true);
      messageBox(messageBoxTeplate, maxHeight);
    }

    global.showSimpleMessageBox = function (content, title, modalType, maxHeight, alertType) {
      var template = {
        Title: title,
        Content: content,
        ModalType: modalType,
        AlertType: alertType
      }
      var messageBoxTeplate = ich.simple_message_box(template, true);
      messageBox(messageBoxTeplate, maxHeight);
    }

    

    global.notification = $.connection.notificationHub;

    $.connection.hub.start().done(function () {
      //init hubs
      global.notification.server.init();
    });

    global.notification.client.GetConnectionId = function (connectionId) {
      global.notificationConnectionId = connectionId;
    }


    global.onPageLoad = function () {
      //$('#message_box-modal').on('shown.bs.modal', function (e) {
        
      //})      
    }

  }());

  $(document).ready(function () {
    themeJs.ready($);
    global.onPageLoad();
    global.hideBusy();
  });
  $(window).load(function () {
    themeJs.load();
  });
</script>
