﻿<meta charset="utf-8" />
<!-- Set the viewport width to device width for mobile -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="luxbsa" />
<meta name="description" content="LuxBsa">

<title>@ViewBag.Title</title>

<!-- Fav and touch icons -->
@*<link rel="apple-touch-icon-precomposed" sizes="144x144" href="Content/img/ico/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="Content/img/ico/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="Content/img/ico/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="Content/img/ico/apple-touch-icon-57-precomposed.png">*@
<link rel="shortcut icon" href="@Url.Content("/favicon.ico")">

    
@Styles.Render("~/StyleBundle/themes/base/css")

@Styles.Render("~/StyleBundle/Bootstrap")
@Styles.Render("~/StyleBundle/JQuery-ui")
@Styles.Render("~/StyleBundle/Fonts")
    
@Styles.Render("~/StyleBundle/Plugin")
@Styles.Render("~/StyleBundle/Theme")
<!--[if IE]>@Styles.Render("~/StyleBundle/IE")<![endif]-->
@Styles.Render("~/StyleBundle/DesignMode")
@Styles.Render("~/StyleBundle/Responsive")
@Styles.Render("~/StyleBundle/Custom")

@Scripts.Render("~/js/Modernizr")
<!--[if lt IE 9]>@Scripts.Render("~/js/IE8HTML5")<![endif]-->
