﻿<div class="vc_secondary-menu-wrapperA">
  <div class="container">
      <div class="vc_secondary-menu">
        <div class="vc_social-share-wrappe pull-right">
          <div class="vc_contact-top" style="display:inline-block">
            <div class="pull-right" style="margin-right:20px">
              <h5><span style="font-size: 1.1em;">Already Have an Account With: </span></h5>
            </div>
          </div>      
          <div class="vc_social-share vc_tight vc_grey-color vc_border-top " style="display:inline-block;">
            <a title="Twitter" class="twitter" href="#"><i class="fa fa-twitter"></i></a>
          </div>
          
        </div>
      </div>
  </div>
</div>
