﻿<!DOCTYPE html>
<html>
<head>
  @Html.Partial("_Head")
  <link href="@Url.Content("~/Content/themes/tympanus/slidemenu.css")" rel="stylesheet" />
  <link href="@Url.Content("~/Content/themes/folder/css/style.css")" rel="stylesheet" />
  @*<link href="@Url.Content("~/Content/themes/base/jquery-ui.css")" rel="stylesheet" />*@
  @*<link href="@Url.Content("~/Content/themes/folder/css/skin.css")" rel="stylesheet" />*@
  <link href="@Url.Content("~/Content/themes/bootstrap/typeahead.js-bootstrap.css")" rel="stylesheet" />
  @Styles.Render("~/StyleBundle/css")

</head>
<body class="cbp-spmenu-push background-10">



  <header data-active="features" class="header-3 mode-1" id="header">

    @*@Html.Partial("_HeaderSecondary")*@

    <div class="vc_primary-menu-wrapper background-10">
      <div class="container">
        <div class="row">
          <nav class="vc_menu">
            <div class="logos" style="position: absolute;">
              <span style="font-size: 3em; float: left; margin-top: 25px"><span class="vc_main-color">LUX-BSA</span>
              </span>

            </div>
            <div class="vc_btn-navbar">
              <button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".vc_primary-menu"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>

            <div class="vc_primary-menu pull-right">
              <ul>
                <li>
                  <div class="vc_menu-search-wrapper">
                    <form class="vc_menu-search">
                      <input type="text" name="search" class="vc_menu-search-text" required placeholder="Search">
                      <div class="vc_menu-search-submit"></div>
                    </form>
                  </div>
                </li>
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Scout", "Index", "Scout")</li>
                <li>@Html.ActionLink("Board Room", "Index", "Meeting")</li>
                <li>@Html.ActionLink("Messages", "Index", "Message")</li>
                <li>
                  <a>Logged in as <strong class="vc_main-color">@Session["User.FirstName"]</strong> <i class="fa fa-caret-down"></i></a>
                  <div class="vc_menu-open-left vc_menu-2-v">
                    <ul class="clearfix">
                      <li>@Html.ActionLink("User Profile", "UserProfile", "Profile")</li>
                      <li>@Html.ActionLink("Business Profile", "BusinessProfiles", "Profile")</li>
                      <li><a href="@Url.Action("Logout", "Account")">Log out</a></li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </header>



  <div class="vc_body">
    @RenderBody()

    @Scripts.Render("~/js/Global")
    @Scripts.Render("~/js/JQueryVal")
    @Scripts.Render("~/js/Specific/Typeahead")
    @Scripts.Render("~/js/Specific/Classie")

    <script src="~/Scripts/jquery.signalR-2.0.2.js"></script>
    <script src="~/signalr/hubs"></script>

    @Html.Partial("_GlobalPartial")

    @Html.Partial("_FooterPartial")

  </div>





  <script>

    $(document).ready(function () {
      //alert("hello 2");
    });
  </script>

  @RenderSection("scripts", required: false)


</body>
</html>
